<%= provide(:title, 'About') %>
<!-- Custom styles for this template -->
<link href="about.css" rel="stylesheet">
<style>
.area1{
background: url('../assets/flowers.jpg');
	min-width: 100%;
	position: relative;
	top: 0;
	left: 0;
	height: 650px;
}


.area2{

	min-width: 100%;
	position: relative;
	top: 0;
	left: 0;
	height: 650px;

}

.area2 h2, .area2 p{
	color:#000000;
}


.area3{
background: url('../assets/tree.jpg');
	min-width: 100%;
	position: relative;
	top: 0;
	left: 0;
	height: 650px;
}


  .area3 .span8 {
  	margin-right: 40px;
  	margin-left: 40px;
    }

.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#03ae6f}
h2 {color:#FFFFFF;}
p {color:#FFFFFF;}
</style>


<div class="area1">
      <div class="featurette">
        <img class="featurette-image">
        <div class="span12">
        <h2 class="featurette-heading">Goals - <span class="muted">We are commited to providing the highest quality primary heatlh care.</span></h2>
        <p class="lead">Health Services provides comprehensive medical, mental health and health promotion services to all UCM registered students. Services are designed to minimize the impact of illness, emotional distress and injury on studies and work. <br>
		Students can use our medical services just as they would their regular doctor's office. The facility is staffed by board-certified physicians, physician assistants, nurse practitioners and nurses.
		<br><br>
		Students can use our medical services just as they would their regular doctor's office. The facility is staffed by board-certified physicians, physician assistants, nurse practitioners and nurses.
		</p>
		</div>
		</div>
		</div>



<div class="area2">
      <div class="featurette">
        <img class="featurette-image">
        <div class="span12">
        <h2 class="featurette-heading">Hours - <span class="muted">2014-15 Service Hours.</span></h2>
        <p class="lead">
		The Health Center is open from 8:00 am to 4:30 pm, Monday through Friday except on University holidays.  The first scheduled appointment is at 8:20 am and the last appointment is at 4:00 pm.
		<br><br>
		We reserve a portion of our appointments for same day/walk-in visits.  Students without an appointment are evaluated by a nurse and then the clinical staff will determine (based on your medical need and the schedule in the Health Center at that time) if we see you right away, later in the day or schedule you an appointment for another time.  We endeavor to see most students at the time they present in the Health Center.</p>
		</div>
	</div>
	</div>




<div class="area3">
      <div class="featurette">
        <img class="featurette-image">
        <div class="span12">
        <h2 class="featurette-heading">What Drives Us - <span class="muted">Purpose, Patient-Centric, Privacy, People.</span></h2>
        <p class="lead"> Purpose: The mission of the Health Services is to help each student strive for maximum physical and emotional health while pursuing their academic and personal goals at the university.
        <br><br>
        Patient-Centric: We believe the patient always comes first.
        <br><br>
        Privacy: We are strongly commited to the privacy and security of patient health data. Learn more about privacy <a href="http://www.hhs.gov/ocr/privacy/">HIPAA.</a>
        <br><br>
        People: Our people make the difference. 

		</p>
		</div>
		</div>
		</div>

<style>
.area4 h2, .area4 p{
	color:#000000;
}
.area4{
	margin-top: 40px;
}
</style>
<div class = "area4">
 <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <div class="circle-image1"></div>
          <h2>Brandon Boggs, MD, FAAFP Executive Director Board Certified Family Practice Physician</h2>
          <p>Dr. Boggs joined SHS in 2012 as Medical Director and took on the role as Executive Director for Health Services and CAPS in 2014.  He is board certified in Family Medicine and a Fellow of the American Academy of Family Physicians.  He received his Bachelor of Science degree from Brigham Young University in 1996, his Medical Degree from The Chicago Medical School in 2000, completed his residency training at the University of Nevada, Reno in 2003 and was board certified in Family Medicine in 2003.  He has practiced in the outpatient and inpatient hospital settings and as an emergency room physician since 2002.  He also served as Medical Director of the Emergency Department and Chief of Emergency Medicine at a local hospital for over 7 years.  He has also served as an outreach clinical preceptor for UC Davis and in other teaching settings. He is certified in Advanced Cardiac Life Support and Pediatric Advanced Life Support. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->


        <div class="span4">
          <div class="circle-image2"></div>
          <h2>Gillian Viers, NP-C Certified Nurse Practitioner</h2>
          <p>Gillian joined the SHS as a Nurse Practitioner in 2013. She graduated from the Family Nurse Practitioner program at the University of California, San Francisco in 2005. Prior to attending UCSF she received her BSN from the University of Virginia in 2001 and a BS in Biological Sciences from UC Davis in 1997. She has experience working as a nurse practitioner in both urgent care and reproductive health. She is certified in Basic Life Support.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <div class="circle-image3"></div>
          <h2>Max Maude, PA-C Certified Physician Assistant</h2>
          <p>Max joined SHS in 2012 as a Physician Assistant.  He completed his Physician Assistant program at Western University of Health Sciences in Pomona, California in 2001.  He became board certified in 2002 by the NCCPA.  He has practiced for 10 years in radiation/oncology, pain management, adult medicine and emergency medicine.  He also currently works in emergency medicine at multiple hospitals in the Central Valley.  He also has interests and experience in complimentary medicine. He is certified in Advanced Cardiac Life Support and Pediatric Advanced Life Support. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
<div>



	
