<%= provide(:title, 'About') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campus-2000.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>About - General Information</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
<p>
  • <b> Making an Appointment </b>
</p>
<p>
    To make an appointment with a counselor please stop by Counseling &amp; Psychological Services located in the H. Rajender Reddy Health Center on the second
    floor of the Joseph Edward Gallo Recreation &amp; Wellness Center. You can also contact Counseling &amp; Psychological Services at 209-228-4266 to schedule
    an appointment. Counseling &amp; Psychological Services is open from 8:00 a.m. to 5:00 p.m. Monday through Friday, excluding weekends and holidays.
</p>
<p>
    • <b> 24/7 Access to Assistance </b>
</p>
<p>
    Counseling &amp; Psychological Services has partnered with ProtoCall, Inc.to provide after hours emergency clinical services. ProtoCall, Inc. provides
    24-hour Intake and Assessment, Crisis Response and Triage Services to the UC Merced campus community. ProtoCall’s services enable students to speak in a
    timely fashion directly with a counselor who is able to provide immediate support regarding a variety of issues, including academic and environmental
    stressors, mental health issues, and alcohol and drug related concerns and can help students access services with their campus counseling office. You may
    access this service by calling (209) 228-4266, the Counseling &amp; Psychological Services Center number. A UC Merced professional counselor will follow-up
    with you the following business day.
</p>
<p>
    • <b> Eligibility for Services </b>
</p>
<p>
    All currently registered undergraduate and graduate students at the University of California, Merced are eligible to utilize on-campus counseling services
    free of charge. The service you receive is based upon a determination of your therapeutic goals and Counseling Services resources. If Counseling &amp;
    Psychological Services is unable to meet your therapeutic needs, outside referral resources will be identified for you.
</p>
<p>
    <p>
    </p>
    • <b> Confidentiality and Privacy </b>
</p>
<p>
    Information that you communicate to a Counseling &amp; Psychological Services therapist is confidential. The fact that you are seeing a Counseling &amp;
    Psychological Services therapist does not appear on any academic records. Your identity is kept confidential from anyone outside our agency. Please note,
    however, that in a professional counseling agency, confidentiality means that psychologists consult with each other as well as Health Center providers as
    needed regarding any of their clients. We are also required to keep data on who we see, their year in college, their ethnicity, etc. This statistical
    information is necessary for our yearly funding; aggregate data only is utilized, so that no one individual person is identifiable in the statistical
    analyses.
</p>
<p>
    Your right to confidentiality is protected by law. However, there are certain circumstances regarding life-threatening situations in which confidentiality
    may need to be breached. Examples of these situations include potential danger to self or others (i.e, the possibility of suicide or homicide), child
    abuse, and cases involving individuals who are gravely disabled and unable to care for themselves. In such situations the Counseling &amp; Psychological
    Services staff member may be legally required to contact other persons in order to keep the client safe or to report to other outside agencies (where
    appropriate) information obtained during a Counseling &amp; Psychological Services counseling visit. Except in these situations, information communicated
    to Counseling &amp; Psychological Services cannot be released without a student’s permission. If you would like further information on this subject, your
    Counseling &amp; Psychological Services staff member will be glad to provide it for you.
</p>
<p>
    • <b> FERPA Notice </b>
</p>
<p>
    If you are a UC Merced registered student, as defined by Section 130.00 of the University of California's Policies Applying to Campus Activities,
    Organizations and Students (PACAOS), the Family Educational Rights and Privacy Act (FERPA), the California Confidentiality of Medical Information Act
    (CMIA) and other applicable laws apply. The circumstances under which your personally identifiable information may be disclosed are listed in Section
    130.00 of the PACAOS, available at <a href="../pacaos.pdf" target="_blank"> PACAOS (PDF)</a>. 
</p>
<p>
    • <b> E-Mail Policy </b>
</p>
<p>
    Students are cautioned against email communication with their therapist because e-mail is NOT a confidential means of communication. Therefore, counseling
    staff at Counseling &amp; Psychological Services will not respond to any e-mail communications from students with whom they work in a counseling capacity.
    E-mail is not the appropriate medium to communicate urgent or emergency information. The risks of e-mail are that it could fail to be received and that
    confidentiality could be breached. An e-mail could fail to be received if it is sent to the wrong e-mail address or if it just is not noticed by the
    recipient. Confidentiality could be breached in transit by hackers or Internet service providers and at either end by others who had access to the account
    or the computer. The alternatives to e-mail are, of course, writing a letter or a note, making a phone call, and meeting in person.
</p>
             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
