<%= provide(:title, 'Hours') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campus-2000.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>CONFIDENTIALITY STATEMENT</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
<p>
    Both clinical and administrative personnel of CAPS are trained to maintain confidentiality of all student/client information as well as meet the
    requirements of the regulations governing HIPAA compliance. Confidential information includes but is not limited to name, contact information, physical
    description, date(s) of service, presenting problems, diagnosis and verification of client status.
</p>
<p>
    Clinicians may disclose confidential information <b>ONLY</b> under the following circumstances:
</p>
<p>
    • Signed release of information from the client stipulating information to be released and specified time frame
</p>
<p>
    • The client presents an imminent danger to herself/himself
</p>
<p>
    • The client presents an imminent danger to an identifiable person or group of persons
</p>
<p>
    • The client has shared information regarding abuse (physical, sexual or neglect) of a child (under the age of 18), elder (i.e. person over the age of 65)
    or dependent adult, which staff are mandated to report to the proper authorities.
</p>
             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
