
<style>
.featurette-divider {
      margin: 0px 0; /* Space out the Bootstrap <hr> more */
    }

a:hover { color: #ff8500 !important; }
</style>

<%= provide(:title, 'Contact') %>

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
      	<div class="span12">
        <img class="featurette-image pull-right" src="../assets/health.jpg">
        <h2 class="featurette-heading"> H. Rajender Reddy Health Center - <span class="muted">We are commited to providing the highest quality primary heatlh care.</span></h2>
        <p class="lead">University of California, Merced <br> 5200 North Lake Road <br> Merced, CA 95343 <br> Telephone: 209 228-2273 FAX: 209 228-7650 <br> <a href="mailto:health@ucmerced.edu">health@ucmerced.edu</a></p>
      </div>
  	</div>

      <hr class="featurette-divider">

      <hr class="featurette-divider">

      <div class="featurette">
      	<div class="span12">
        <h2 class="featurette-heading"> UC Merced Recreation & Wellness Center - Centrally located and adjacent to Muir Pass </h2>
        <img class="featurette-image pull-left" src="../assets/campus.jpg">
      </div>
 	 </div>

      <hr class="featurette-divider">
