<%= provide(:title, 'Contact') %>
        <div class="row">
                <div class="col-lg-12">
      <div class="featurette">
        <img class="featurette-image pull-right img-responsive" src="../assets/health.jpg">
        <h2 class="featurette-heading">H. Rajender Reddy Health Center - <span class="muted">Counseling & Psychological Services</span></h2>
        <p class="lead">University of California, Merced <br> 5200 North Lake Road <br> Merced, CA 95343 <br> Telephone: 209 228-4266 <br> FAX: 209 228-2270 <br> </p>
      </div>

</div>

                <div class="col-lg-12">
      <hr class="featurette-divider">

      <div class="featurette">
        <h2 class="featurette-heading"> UC Merced Recreation & Wellness Center - Centrally located and adjacent to Muir Pass </h2>
        <img class="featurette-image img-responsive" src="../assets/campus.jpg">

      </div>
</div>
</div>
            