<%= provide(:title, 'Crisis Intervention') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>Crisis Intervention</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
            Counseling & Psychological Services operates on an appointment basis only but will make exceptions for crisis situations that require immediate student assessment and intervention. This service is only available during the normal operating hours of Monday through Friday between 8:00 a.m. and 5:00 p.m.   After hours, please call our main number at (209)228-4266.  We have partnered with ProtoCall, Inc to provide after hours emergency clinical services. ProtoCall, Inc. provides 24-hour Intake and Assessment, Crisis Response and Triage Services to the UC Merced Campus Community. ProtoCall’s services enable students to speak directly with a counselor in a timely fashion, who is able to provide immediate support regarding a variety of issues, from academic and environmental stressors, mental health issues, alcohol and drug related concerns and help students access services with the their campus counseling office. By calling (209)228-4266 the Counseling & Psychological Services Center number you may access this service. A UC Merced professional counselor will follow-up with you the following business day.             
            </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
