<%= provide(:title, 'Eligibility') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>Eligibility for Services</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
            All currently registered undergraduate and graduate students at the University of California, Merced are eligible to utilize on-campus counseling services free of charge. The service you receive is based upon a determination of your therapeutic goals and Counseling Services resources. If Counseling & Psychological Services is unable to meet your therapeutic needs, referral resources will be identified for you. 
             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
