<%= provide(:title, 'Emergency Contact Information') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>Emergency Contact Information</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
<p>
    <b><i> </i></b>
</p>
<p>
    <b><i>Suicide Prevention Options</i></b>
</p>
<p>
    • If there is an immediate danger of suicide, contact the UC Merced Police
    <br/>
    Department at 209-228-2677 or the nearest police station by dialing 911 (9-
    <br/>
    911 if on campus)
</p>
<p>
    • Go to the nearest hospital emergency room
</p>
<p>
    • Contact Counseling &amp; Psychological Services to consult with a crisis counselor at 292-228-4266
</p>
<p>
    • National Suicide Hotline 800-784-2433 (SUICIDE)
</p>
<p>
    <b><i> </i></b>
</p>
<p>
    <b><i>Violence Prevention Options</i></b>
</p>
<p>
    • If there is an immediate danger of violence or if violence has occurred, contact the UC Merced Police Department at 209-228-2677 or your nearest police
    station by dialing 911 (9-911 if on campus)
</p>
<p>
    • Go to the nearest hospital emergency room
</p>
<p>
    • If you are concerned about another individual’s potential for violence, contact the
    <br/>
    UC Merced Police Department at 209-228-2677
</p>
<p>
    • If you are concerned about your own potential for committing violence,
    <br/>
    contact Counseling &amp; Psychological Services at 209-228-4266
</p>
<p>
    • If you have concerns about your own anger management skills, contact
    <br/>
    Counseling &amp; Psychological Services at 209-228-4266
</p>
<p>
    <b><i> </i></b>
</p>
<p>
    <b><i> </i></b>
</p>
<p>
    <b><i> </i></b>
</p>
<p>
    <b><i>Urgent Emotional or Psychological Crises</i></b>
</p>
<p>
    Our professional staff are available to provide immediate assessment and intervention for students faced with a crisis or concern that feels too
    overwhelming to wait for a regularly scheduled appointment.
</p>
<p>
    • Contact Counseling and Psychological Services at 209-228-4266 Monday to Friday between 8:00am and 5:00pm.
</p>
<p>
    • Speak to a Counseling and Psychological Services professional available for in-person crisis consultation, assessment and intervention weekdays Monday to
    Friday between 8:00am and 5:00pm.
</p>
<p>
    • Evenings, weekends, and holidays, call 209-228-4266 for emergency on-call assistance.
</p>
<p align="center">
    <b>University of California, Merced </b>
    <b>• </b>
    <b>
        Counseling &amp; Psychological Services
        <br/>
    </b>
    P.O. Box 2039
    <br/>
    H. Rajender Reddy Health Center
    <br/>
    Joseph Edward Gallo Recreation &amp; Wellness Center, 2nd Floor
    <br/>
    Merced, CA 95344
    <br/>
    209.228.4266 •
    <a href="mailto:counseling@ucmerced.edu">
        counseling@ucmerced.edu
        <br/>
    </a>
</p>
             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
