<%= provide(:title, 'Emergency Care') %>
<!-- Custom styles for this template -->

<style>


.area2 h2, .area2 p{
  color:#000000;
}



.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}
h2 {color:#FFFFFF;
}
p {color:#FFFFFF;}
</style>



<div class="area2">
<div class="featurette">
<img class="featurette-image"> <!--this removes blue top space-->
 <h2 class="featurette-heading"> <span class="muted">Emergency Care</span></h2>  

    <p class="lead">
      <b><font color="red">If you have a medical emergency on campus call 911 or the campus police at 209-228-2677.</font></b>
      <br><br>
      If you suddenly become ill or have a medical emergency when the Health Center is closed (at night, weekends and holidays) please call 9-1-1 (9-9-1-1 if using a campus phone), the Campus Police at 209.228.2677, activate a Blue Emergency Phone Box, or go to the nearest urgent care or emergency room.
      <br><br>
      Be sure to contact the Health Center for follow-up care.
      <br><br>
      <b>Medical facilities located near the UCM campus:</b>
      <br><br>
      Mercy Medical Center Merced
      <br>
      Emergency Room
      <br>
      333 Mercy Avenue, Merced
      <br>
      209 564-5000
      <br><br>
      Patient First Urgent Care
      <br>
      394 East Yosemite Avenue, Merced
      <br>
      209 383-3990
      <br><br>
      Fountain Valley Urgent Care
      <br>
      374 W Olive Avenue, Suite A, Merced
      <br>
      209 384-5766
      <br><br>
      Castle Urgent Care
      <br>
      3605 Hospital Road, Atwater
      <br>
      209 381-2027
      <br><br>
      If you do not need an ambulance you may use the campus <a href="http://cattracks.ucmerced.edu">CatTracks</a> bus system or use the below taxi services:
      <br><br>
      Yellow Cab of Merced
      <br>
      209 723-0000
      <br><br>
      Merced Taxi
      <br>
      209 722-8294
      <br><br>
      Students under the university's Student Health Insurance Program can locate a Blue Cross Preferred Provider by accessing the <a target="_parent" href="http://www.bluecrossca.com/ucship">Anthem Blue Cross</a> web site or call 1-800-888-2018.
      <br><br><br>
     </p>
     

    </div>
   </div>



