<%= provide(:title, 'FAQ') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campus-2000.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>FREQUENTLY ASKED QUESTIONS</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
<p>
    <b>Is counseling confidential? Can my professors or my parents find out I’ve been seen at CAPS?</b>
</p>
<p>
    <i>
        All information that you choose to share is confidential. Information you provide will not be released to anyone outside of Counseling and
        Psychological Services (CAPS) without your written permission. However, counselors are required to share information to maintain the safety of you
        and/or others if you are in imminent danger of harming yourself or someone else. CAPS staff are also required to report any suspected abuse of a child,
        elder, or dependent adult. In rare circumstances, CAPS staff may have to release information if court-ordered to do so. However, clinical staff has a
        professional obligation to protect your confidentiality and will seek out legal guidance prior to release of any clinical documentation.
    </i>
</p>
<p>
    <b>How much does it cost?</b>
</p>
<p>
    <i>Nothing! All services are FREE for registered students.</i>
</p>
<p>
    <b>What services are offered?</b>
</p>
<p>
    <i>
        CAPS provides individual, couples, and crisis counseling, as well as consultations if you are concerns about someone else. Individuals seeking couples
        counseling must both be students at UCM. In addition, we plan to offer a number of groups this school year.
    </i>
</p>
<p>
    <b>How long does counseling take?</b>
</p>
<p>
    <i>Your number of sessions depends on your presenting concerns but most people are seen on a short-term basis.</i>
</p>
<p>
    <b>What do I talk about?</b>
</p>
<p>
    <i>
        Anything! Common reasons students seek counseling include (but are not limited to): difficulty managing stress or anxiety; concerns about depression;
        difficulty with academic advisors or other faculty members; relationship concerns; and difficulty balancing academic and personal obligations.
    </i>
</p>
<p>
    <b>What happens if students I know see me in the waiting area?</b>
</p>
<p>
    <i>
        Chances are, if they’re seeing you, you’re also seeing them! It is likely that any other student who sees you in the waiting area is also here to get
        assistance with a health or counseling-related concern.
    </i>
</p>
<p>
    <b>Will being in therapy affect my ability to get a job?</b>
</p>
<p>
    <i>
        For the most part, employers are not allowed to ask if you have been in counseling, and future employers will not even know that you attended
        counseling unless you tell them. There are a few very specific exceptions to this (i.e., if you are applying for a job in law enforcement or for a
        government agency that requires high security clearance) but you will be informed during the application process in these situations.
    </i>
</p>
<p>
    <b>How do I make an appointment for counseling?</b>
</p>
<p>
    <i>Simply call CAPS at (209) 228-4266 or stop by the Counseling Center to make an appointment. </i>
</p>
<p>
    <b>Who can be seen at CAPS? </b>
</p>
<p>
    <i>
        If you are a registered student, you can be seen at CAPS. Students who are not taking classes during the summer or who might have graduated in May and
        will still be around for the summer can also be seen but only until the beginning of the following fall semester.
    </i>
</p>
<p>
    <b>What if I need medication?</b>
</p>
<p>
    <i>
        If you are considering medication intervention, you can schedule an initial appointment or consultation at the UCM Health Center with one of the
        primary care physicians. The physician will refer you to the psychiatrist if they determine that is the best treatment option for you. Currently the
        Health Center offers tele-psychiatry appointments (similar to Skype) so students can access psychiatric care locally. The tele-psychiatrist is a
        licensed psychiatrist who provides the same community standard of care including consultation, assessment, and if needed, prescription of medication.
    </i>
</p>
<p>
    <i>
        If students have Kaiser Permanente medical insurance they can be seen in the health center for consultation but will likely need to seek prescription
        services through their insurance.
    </i>
</p>
<p>
    <b>What should I do in case of an emergency or other urgent situation?</b>
</p>
<p>
    <i>
        If you or someone you know are experiencing a medical emergency or are in imminent danger of hurting yourself or someone else, call 911 or UCM Police
        at 209-228-2677. If you feel that there is no imminent danger, CAPS offers crisis services. Students who feel they are in crisis are encouraged to come
        to CAPS during business hours (8 a.m. – 5 p.m. M-F) or call our crisis line after business hours at 209-228-4266.
    </i>
</p>
<p>
    <b>Can I ask for a referral to an off campus therapist?</b>
</p>
<p>
    <i>
        Students can absolutely ask for a referral, however, there are limited services in the Merced community. There are referral lists at the CAPS front
        desk for those interested. Students are also encouraged to contact their health insurance companies so that they can be sure that their off-campus
        services are covered.
    </i>
</p>
<p>
    <b>Can I talk to a counselor about a friend?</b>
</p>
<p>
    <i>
        Certainly. CAPS offers consultation services with students, faculty, staff, and parents regarding concerns about other students. Counselors are
        available to meet with you in order to provide guidance on ways that you can help your friend as well as information about on-campus services. In
        addition, often times it can be distressing to see a friend in need of help so counselors are also there to provide you with support.
    </i>
</p>
<p>
    <b>Where are you located?</b>
</p>
<p>
    <i>CAPS is located on the first floor of the Recreation and Wellness Building, just underneath the health center. The physical address is:</i>
</p>
<p>
    <i>Recreation and Wellness Building, First Floor,</i>
</p>
<p>
    <i>5200 N. Lake Road</i>
</p>
<p>
    <i>Merced, CA 95343</i>
</p>
<p>
    <b>Do I need an appointment to see a therapist?</b>
</p>
<p>
    <b></b>
</p>
<p>
    <i>
        Yes, unless you fit specific criteria and are evaluated as being in crisis. You can call CAPS at 209-228-4266 in order to schedule an appointment.
        Please know that depending on the volume of services being provided at the time you call, you may have to wait before being able to see a therapist;
        therefore it may be most helpful to contact CAPS as soon as possible.
    </i>
</p>
<p>
    <b>If I am not a registered student can I still use your services?</b>
</p>
<p>
    <i>
        In most circumstances you must be a registered student in order to receive services at CAPS. However, students who graduated in May or who are not
        taking classes during the summer and will still be in the Merced area can be seen at CAPS through the summer until the start of the fall semester.
    </i>
</p>
<p>
    <b>What are your office hours?</b>
</p>
<p>
    <i>CAPS office hours are Monday through Friday 8 a.m. to 5 p.m.</i>
</p>
<p>
    <b>What if I am feeling suicidal?</b>
</p>
<p>
    <i>
        If you feel as though you are in imminent danger of taking your life, please contact 911 or 209-228-2677 (UCM campus police). You can also go to your
        nearest medical center (in Merced this would be Mercy Medical Center). Students who are feeling suicidal but do not feel that they are in imminent
        danger of taking their life are encouraged to come to CAPS immediately so that they can be seen by a crisis counselor. If calling after hours, students
        can contact CAPS crisis line at 209-228-4266.
    </i>
</p>
<p>
    <b>What if I need to talk to someone at night or on weekends?</b>
</p>
<p>
    <i>
        Students who feel they are in crisis and need to speak with someone at night or on weekends can contact 209-228-4266 in order to speak to a crisis
        counselor.
    </i>
</p>
<p>
    <b></b>
</p>
<p>
    <b></b>
</p>
<p>
    <b>What if I am a parent, faculty, or staff and need to consult about a student of concern?</b>
</p>
<p>
    <i>
        Call (209) 228-4266 in order to speak with our clinical staff about your concerns. Although the staff cannot reveal any information regarding clinical
        services provided to an individual, we are more than willing to listen to your concerns and may determine that contacting the student is necessary. In
        some cases, parents, faculty and staff do not want the student to know they have reported concerns to CAPS. If this is the case please notify CAPS
        staff in order to maintain anonymity.
    </i>
</p>
<p>
    <b><i></i></b>
</p>
<p>
    <b>What kind of training does your staff have?</b>
</p>
<p>
    <i>All of our clinical staff have doctoral level clinical training in the field of psychology.</i>
</p>
<p>
    <b></b>
</p>
<p>
    <b>Do you have therapists that can work with people from varying backgrounds and cultures?</b>
</p>
<p>
    <i>Yes </i>
</p>
<p>
    <b><i></i></b>
</p>
<p>
    <b>Do you have therapists who are familiar with gay, lesbian, bisexual, gender identity, and questioning concerns?</b>
</p>
<p>
    <i>Yes</i>
</p>
<p>
    <b></b>
</p>
<p>
    <b>Is there a limit to how long I can receive therapy at CAPS?</b>
</p>
<p>
    <i>For the most part services focus on short-term interventions; however, students are not denied services which may require long-term interventions.</i>
</p>
<p>
    <b></b>
</p>
<p>
    <b>Can my professors or my parents find out I’ve been seen at CAPS?</b>
</p>
<p>
    <i>No, this information is confidential and can only be disclosed if the student receiving services consents to release information. </i>
</p>
<p>
    <b></b>
</p>
<p>
    <b>I think I might have a problem with drinking or substance abuse. Can you help with that?</b>
</p>
<p>
    <i>Yes. However, depending on the degree of abuse or addiction, you may be referred to other community resources.</i>
</p>
<p>
    <b></b>
</p>
<p>
    <b>If I go to CAPS does that mean that something is wrong with me?</b>
</p>
<p>
    <i>
        No. Students request services for a variety of issues such as lack of social support, adjusting to college and/or new environment, and family concerns.
    </i>
</p>
<p>
    <b></b>
</p>
<p>
    <b>Can I request a particular therapist?</b>
</p>
<p>
    <i>
        Students are usually scheduled with the next available therapist whose schedule coordinates with the client’s schedule. If you have a preference (e.g.,
        female or male clinician) you can make that known to administrative staff and they will do their best to accommodate your request.
    </i>
</p>
<p>
    <b></b>
</p>
             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
