<%= provide(:title, 'Forms Center') %>
<!-- Custom styles for this template -->

<script src="../assets/init.js"></script>

<style>


.area2 h2, .area2 p{
  color:#000000;
}


.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}
h2 {color:#FFFFFF;
}
p {color:#FFFFFF;}
</style>
<div class="featurette">
<img class="featurette-image"> <!--this removes blue top space-->
        <h2 class="featurette-heading"> <span class="muted">Forms Center</span></h2>
         <table class="lead table table-striped table-bordered table-condensed table-hover">
       <thead>
        <tr> 
            <th>Resources</th>
            <th>Links</th>
        </tr>
        </thead>
      <tr>
        <td><b>APPEAL OF WAIVER DENIAL</b><br>If you were denied on your waiver application, you may submit an Appeal within seven (7) calendar days to the Insurance Office. The form can be filled out online then printed and signed.</td>
        <td><a href="/shipappeal.pdf" target="_blank"> 2014-15 Waiver Denial Appeal Form</a></td>
      </tr>
      <tr>
         <td><b>CANCEL INSURANCE WAIVER</b><br>If your health insurance coverage is terminated you are required to enroll in UC SHIP.  Submit an enrollment form to the Insurance Office.</td>
        <td><a href="/shipenrollment.pdf" target="_blank"> 2014-15 Cancel Waiver & Enroll in UCSHIP</a></td>
      </tr>
      <tr>
         <td><b>CONSENT FOR CARE OF MINOR</b><br>Students under the age of 18 years old must have their parent/guardian(s) provide consent for general medical care.</td>
        <td><a href="/minor.pdf" target="_blank">Minor Consent Form</a></td>
      </tr>
      <tr>
         <td><b>IMMUNIZATIONS</b><br>All undergraduate and graduate students are covered under UC Merced's Immunization Policy.  UC Merced has adopted the recommendations of the American College Health Association and the U.S. Centers for Disease Control.
         <br>
         Enter your immunizations online at myhealth.ucmerced.edu and send a copy of your immunization card into the Health Center for verification.</td>
        <td><a href="/immunizationpolicy.pdf" target="_blank">Immunization Policy</a></td>
      </tr>
      <tr>
         <td><b>MEDICAL RECORDS RELEASE</b><br>Records can only be released by, or to, the patient with a signed consent form. If you are under 18, your parent/guardian must be the one to sign this form.
         <br>
         We require at least ten (10) days advance notice to provide time to review the request, copy and prepare the medical record(s) for mailing, faxing or pick-up.</td>
        <td><a href="/medicalrecordsrelease.pdf" target="_blank">Medical Records Release Form</a></td>
      </tr>
      <tr>
         <td><b>Allergy Information & Questionnaire</b><br>For more specific information about allergy shots and new allergy patient</td>
        <td><a href="/allergyinformation.pdf" target="_blank">Allergy Information Form</a><br>
           <a href="/allergyquestionnaire.pdf" target="_blank">Allergy Questionnaire Form</a>
        </td>
      </tr>

      <tr>
         <td><b>SEASONAL FLU CONSENT</b><br>Students, faculty and staff receiving a seasonal flu shot must complete this form prior to vaccination.  </td>
        <td>N/A</td>
      </tr>

    </table>
    <br><br><br>
</div>

