<%= provide(:title, 'Group') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>Group Counseling</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
			Counseling groups typically meet once per week for anywhere between 6 and 10 weeks, with each session lasting approximately 1.5 hours. Most counseling groups are structured around a particular topic or area of concern (e.g., stress management or body image), although some counseling groups are more process oriented to allow students a greater opportunity to connect, encourage, and support one another. It is necessary for each potential group member to under go a group screen with the group leader to assure that a particular group is appropriate for you and to adequately prepare you for the group counseling experience. Please stop by or phone Counseling & Psychological Services if you are interested in group counseling. 

             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
