<%= provide(:title, 'Health Alerts') %>
<style>
.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}

</style>

<div class="featurette">
<img class="featurette-image"> <!--this removes blue top space-->
 <h2 class="featurette-heading"><span class="muted">Health Alerts</span></h2>  
    <div class="content">
     		        	  
<div class="node node-type-page" id="node-1">
	<div class="node-inner">
    
    
    		    
        
      	
 <div class="content">
<p class="lead">
<b> Serogroup B Meningococcal Disease Outbreaks </b>
<br>
The following information on serogroup B meningococcal disease outbreaks is provided by American College Health Association’s Vaccine-Preventable Disease Advisory Committee after consultation with the Centers for Disease Control and Prevention (CDC).
 <br><br>
The ongoing serogroup B meningococcal disease outbreak at Princeton University brings national attention to an issue of longstanding importance to the college health community. The dramatic decline in cases of meningococcal disease since the late 1990s coincides with the widespread use of the quadrivalent meningococcal vaccine in adolescents and students entering college.
  <br><br>
Outbreaks of serogroup B meningococcal disease are rare. Since the first case last spring, Princeton officials have collaborated diligently with local and state public health officials and the CDC. After the third case (which defines an outbreak), CDC initiated discussions with the Food and Drug Administration (FDA) for permission to acquire Bexsero, the serogroup B meningococcal vaccine that is licensed in Europe and Australia, to be made available for this specific outbreak. Cases of meningococcal disease are reportable in every state, and no spread beyond the Princeton campus has occurred or is expected.
  <br><br>
It is well known that the close quarters of campus residence hall living puts students at increased risk for meningococcal disease.  The following strategies may help reduce risk:
  <br><br>
• Consider the quadrivalent meningococcal vaccines to provide immunity (a booster dose for students entering college if the first dose was given prior to age 16). 
<br>
• Practice good hygiene measures such as not smoking, avoiding secondhand smoke, and not sharing drinking and eating utensils and other items that have contacted saliva. 
<br>
• Awareness of the early signs of the disease and the need for quick treatment. 
<br>
• Review the meningitis awareness resource below for more information: 
<br>
• <a href="/meningitisfacts.pdf" target="_blank"> Meningococcal Disease and Vaccination Fact Sheet from the National Meningitis Association (PDF) </a>

</p>

  	</div>
  	
        
	</div> <!-- /node-inner -->
</div> <!-- /node-->
    </div>
</div>
