<%= provide(:title, 'Help Your Student') %>
<!-- Custom styles for this template -->

<script src="../assets/init.js"></script>

<style>
#area1{
background: url('../assets/flowers.jpg'); 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: -100px 0;
}


.area2 h2, .area2 p{
  color:#000000;
}


#area3{
background: url('../assets/tree.jpg');50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}


  .area3 .span8 {
    margin-right: 40px;
    margin-left: 40px;
    }

.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}
h2 {color:#FFFFFF;
}
p {color:#FFFFFF;}
</style>



<div class="area2">
      <div class="featurette">
        <img class="featurette-image">
        <div class="span12">
        <h2 class="featurette-heading"> <span class="muted">How To Help Your Student</span></h2>
        <br>
        <p class="lead">
        <h2> Orientation Presentation </h2>
        <hr class="featurette-divider">

        <h3><a href="/parentingstudent.pdf" target="_blank"> Parenting Your College Student (PDF) </a></h3>

        <h2> Trainsitioning to UC Merced </h2>
        <hr class="featurette-divider">

        For your daughter or son, college will likely be a period of intellectual stimulation and growth, career exploration and development, increased autonomy, self-exploration and discovery, and social involvement. During this period, your children may forge new identities or seek to clarify their values and beliefs. This may require an examination of self, friends, and family. It may also be a time for exploration and experimentation, and a period in which your children may question or challenge the values you hold dear. The changes your children may experience can occur quickly, as they begin to develop new peer relationships, gain competence in new areas, and learn to manage independence. It is important to recognize that every child will experience his or her own unique challenges and adjustments, just as every parent will have different expectations for and reaction to their child's college experience.
        <br><br>
        Often overlooked is the fact that the college experience is a significant transition for the parents of college students, too. As parents, you may experience feelings of happiness, excitement, and pride when your children leave for college. At the same time, you may feel a sense of sadness and pain and have many understandable fears and concerns about your children's future and well-being. You may worry about your children's safety and ability to care effectively for themselves. You may fear “losing” your children as they begin to function more independently and form deep attachments with peers. You may be concerned about how your children will deal with alcohol, drugs, and sexual relationships. You may also wonder how your children's performance in college will reflect on you as the parent.

        <h2> How to support your student? </h2>
        <hr class="featurette-divider">

        Although your children want and need to become more autonomous during this period, it is important for them to know you are still available. Maintaining a supportive relationship with them can be critical, particularly during their first year of college. If you and your children were not particularly close prior to their leaving home, it is still important for you to convey your support. You may be surprised to find that some space and distance from your children can help improve your relationships with them.
        <br><br>
        It is important to maintain regular contact with your children, but also to allow space for your children to approach you and set the agenda for some of your conversations. Let your children know that you respect and support their right to make independent decisions and that you will serve as an advocate and an advisor when asked. Finally, recognize that is normal for your children to seek your help one day and reject it the next. Such behavior can be confusing and exhausting for parents, so make sure to take care of yourself by talking about your feelings with your own support system.
        <br><br>
        Be realistic and specific with your children about financial issues, including what you will and will not pay for, as well as your expectations for how they will spend money.
        <br><br>
        It is also important to be realistic about your children's academic performance, recognizing that not every straight-A student in high school will be a straight-A student in college. Help your children set reasonable academic goals; and encourage them to seek academic assistance when needed.
        <br><br>
        The fact that your children have left home does not necessarily prevent family problems from arising or continuing. Refrain from burdening your children with problems from home they have no control over and can do nothing about. Sharing these problems with your children may cause them to worry excessively and even feel guilty that they are away from home and unable to help.
        <br><br>
        Find out contact information for people involved in the various aspects of your children's college experience. If you have questions, or if a particular problem arises, UC Merced has many units available to provide you and your son or daughter assistance.
        <br><br>

        <h2> How to support yourself?</h2>
        <hr class="featurette-divider">
        Recognize that it is normal to have mixed feelings when your children leave home. Feelings of pain and loss often accompany separation from loved ones. It is also normal to feel a sense of relief when your children leave for college, and to look forward to some time alone, or with your significant other, or with your younger children.
        <br><br>
        Do your best to maintain your own sense of well-being. This may involve eating and sleeping well, exercising, and setting new and creative goals for yourself. Perhaps this is a good time to do some of things you put off while your children were growing up-taking on a project or hobby can be an excellent way to channel your energy and feelings.
        
        <h2> What can I do during this transition? </h2>
        <hr class="featurette-divider">

        It is not uncommon for parents to experience the well-known “empty nest” syndrome when their daughter/son leaves for college. They may have feelings of sadness, loss of control, and concern for what their children may be exposed to at a large university.
        <br><br>
        At the same time, many parents may feel conflicted when these feelings are mixed with excitement that comes with possibly having more independence and time. It is common to feel a wide range of emotions with this new change - from happy to sad. As is the case with your daughter/son, the adjustment to change can be difficult and may take some time.Feeling sad during this transition, however, should not prevent you from taking care of yourself. Consider viewing this change as an opportunity to focus on what you really like to do.

        <h2> How can I support my student? </h2>
        <hr class="featurette-divider">

        Providing support now will not be drastically different from how you have been doing it. Listening, communicating, and sharing are all important ingredients in letting your student know you care. Relaying these messages in a way that acknowledges the adult-to-adult relationship can build an even stronger bond. Again, keep in mind that at times they may not want to share everything with you - this is normal. But making sure they know that you care is the key (e.g., sharing your views on difficult topics, providing encouragement during times of stress, etc.). A balance of advice, encouragement, independence, and room to make mistakes can be important in conveying our support AND respect.
        <br><br>
        Though your daughter or son, may not request it, it is important that you keep in touch. Have a plan for keeping in touch. Care packages, phone calls, e-mails, pictures of special events (both at school and family fun) may be some of the nice things you can do for each other to show you may be out of sight but not out of mind.

        <h2> What resources are available for my student?</h2>
        <hr class="featurette-divider">

        There are many resources available to you and your daughter or son. It is helpful for parents to be familiar our services at SHS, as well as available Campus Resources. This way if your son or daughter needs some type of assistance, you will at least have some basic understanding of the University system and what is available for students.
        <br><br>
        If you have any questions or concerns, you can contact SHS at (209) 228-2273.

       </p>
   </div>
   </div>
   </div>
