<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../assets/jquery-1.7.2.min.js"><\/script>')</script>


<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 3000
    })
  });
</script>


<div id="myCarousel" class="carousel slide" data-ride="carousel"><!-- class of slide for animation -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/firstc.jpg" alt= "First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Our Mission</h1>
              <p class="lead">Our goal is to help each student strive for maximum physical and emotional health while pursuing their academic and personal goals at the University.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../assets/secondc.jpg"  alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
               <h1>Have you scheduled your checkup?</h1>
              <p class="lead">It's the flu season. Don't miss critical academic hours, protect yourself with a flu shot!</p>
              <a class="btn btn-large btn-primary" href="#">Book Appointment</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../assets/thirdc.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Visit Us</h1>
              <p class="lead">H. Rajender Reddy Health Center University of California, Merced 5200 North Lake Road Merced, CA 95343 Telephone: 209 228-2273 FAX: 209 228-7650</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->





      <!-- START THE FEATURETTES -->

      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/mascot1.jpg">
        <h2 class="featurette-heading">Goals - <span class="muted">We are commited to providing the highest quality primary heatlh care.</span></h2>
        <p class="lead">Provide accessible, timely primary care that is personalized, confidential and cost-effective.<br>
        Educate students, emphasizing health promotion, healthy lifestyles, and lifelong disease prevention.<br>
        Promote a campus community that provides a supportive environment for students to pursue personal wellness.<br>
        Foster an environment to teach life-long learning skills to students to be active participants in their health and wellness.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="../assets/mascot2.jpg">
        <h2 class="featurette-heading"> Maintaining Wellness - <span class="muted">Attending UCM is about more than just taking academic courses.</span></h2>
        <p class="lead"><br>While your intellect is being broadened and developed, it is important that you nurture your physical and mental health to maintain balance and wellness.<br> Be physically active. Structure your time so that you have at least 30 minutes per day for recreational activity. <br> Eat well. Always have breakfast, and eat foods that are low in fat. Select five more servings of fruits and vegetables each day.<br> Reduce stress. Be sure to obtain seven to nine hours of sleep per night. Discuss your feelings with others, including family, friends and health professionals at Student Health, or at Psychological & Counseling Services where services are free and confidential. <br> Maintain high self esteem. Make intelligent choices and take responsibility for your health. <br> Don't smoke. Smokers have three times greater chance of dying from heart disease and 25 times greater chance of developing lung cancer. <br> Don't use drugs and avoid alcohol. The greatest risk to your life is related to the use of drugs or alcohol, which impede judgement and motor skills.
        </p>
      </div>
      <hr class="featurette-divider">


