<%= provide(:title, 'Local Community') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>Local Community</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>



<table class="lead table table-striped table-bordered table-condensed table-hover">
         <thead>
          <tr> 
              <th>Resource</th>
              <th>Contact Information</th>
          </tr>
          </thead>


        <tr>
          <td>Alcoholics Anonymous</td>
          <td>
            620 W. 14th Street
            <br>
            Merced, CA 95340
            <br>
            209-385-0309
            <br>
            <a href="http://www.aa.org" target="_blank"> http://www.aa.org</a>
          </td>
        </tr>

        <tr>
          <td>LGBT Community Center</td>
          <td>
            1744 G. Street, Suite H
            <br>
            Merced, CA 95340
            <br>
            <a href="http://www.lgbtmerced.org" target="_blank"> http://www.lgbtmerced.org</a>
            <br>
            <a href="http://www.mylgbtplus.com" target="_blank"> http://www.mylgbtplus.com</a>
          </td>
        </tr>

        <tr>
          <td>Merced Drug Abuse Treatment Center</td>
          <td>
            <a href="http://drugabuse.com/usa/drug-abuse/merced-ca/" target="_blank">http://drugabuse.com/usa/drug-abuse/merced-ca/</a>
          </td>
        </tr>


        <tr>
          <td>Narcotics Anonymous</td>
          <td>
          <a href="http://www.na.org" target="_blank">http://www.na.org</a><br>
          </td>
        </tr>
        <tr>
          <td>National Alliance on Mental Illness</td>
          <td>
            Modesto   209-558-4555
            <br>
            Fresno   559-224-2469
            <br>
            Sonora   209-586-9351
            <br>
            <a href="http://www.namistanislaus.org" target="_blank">http://www.namistanislaus.org</a>
            <br>
            <a href="http://www.namifresno.org" target="_blank">http://www.namifresno.org</a><br>
          </td>
        </tr>
        <tr>
          <td>Overeaters Anonymous</td>
          <td>
            305 W. 26th Street
            <br>
            Merced, CA 
            <br>
            209-723-3427
            <br>
          <a href="http://www.oa.org" target="_blank">http://www.oa.org</a>
          </td>
        </tr>

      </table>
             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
