<%= provide(:title, 'Meet The Staff') %>
<!-- Custom styles for this template -->


  <div class="row">
     

     <div class="col-lg-3">
      <center>
          <div class="myrla-photo"></div>
      </center>  
          <center><h4>Myrla Seibold, Ph.D.<br></h4></center>
          <p>Associate Director of Counseling and Psychological Services, is a licensed psychologist with a background as a professor of psychology. She has a heart for students in higher education, having taught undergraduate and graduate courses, served as Clinical Director of a graduate program in counseling psychology, and worked in university student counseling centers providing clinical services, supervision, consultation, and administration.  For a number of years Dr. Seibold was a member of the psychology licensure board in Minnesota, serving as board chair and chairing the committee that handles complaints filed against psychologists. She holds a B.A. in psychology from the University of Redlands, M.A. in clinical psychology from the University of Nevada at Las Vegas, and Ph.D. in clinical psychology from the Fuller Graduate School of Psychology (APA-approved program), and has been licensed as a psychologist in four states.  Dr. Seibold’s areas of expertise encompass psychotherapy, supervision, and consultation.  Her clinical interests include women’s issues, food/body issues, depression, anxiety, family issues, life adjustment concerns, and processing grief and trauma.  She loves helping students learn how to overcome troublesome issues in their lives so they can be free to really thrive. 
          </p>
      </div>

      <div class="col-lg-3">
      <center>
          <div class="mirsad-photo"></div>
      </center>
          <center><h4>Mirsad Serdarevic, Ph.D.</h4></center>
          <p>Dr. Mirsad Serdarevic was born in Mostar, Bosnia and Herzegovina. He currently serves as a an Assistant Director of Operations and Senior Staff Psychologist at the Counseling and Psychological Services at the University of California, Merced. Before joining the University of California, Dr. Serdarevic was a Special Fellow in Advanced Geriatrics at the Palo Alto Veteran Affairs Medical Center in Palo Alto, CA, and has served as an Assistant Professor of Psychiatry and Health Behavior at the Medical College of Georgia School of Medicine of the Georgia Regents University in Augusta, GA for two years. Dr. Serdarevic is a graduate of the University of California. He received his Master of Arts degree in Psychology from Columbia University in 2001, his Master of Science in Counseling from the University of Oregon in 2006, and his Ph.D. in Counseling Psychology from the University of Oregon in 2008. He completed his APA-accredited pre-doctoral clinical internship at the University of Southern California, University Park Health Services, and his post-doctoral clinical internship at the University of British Columbia in Canada and subsequently spent a year as a visiting faculty at the International University of Sarajevo, Bosnia and Herzegovina. He is licensed psychologist in California, Georgia and Oregon. Dr. Serdarevic published articles in international peer-reviewed journals covering varied topics in mental health, cross-cultural psychology, psychotherapy, interdisciplinary approach to geriatric care, and poetry therapy. He is a member of the Editorial Board of peer-reviewed journal the International Journal of Mental Health Promotion.
          </p>
      </div>


      <div class="col-lg-3">
      <center>
          <div class="tania-photo"></div>
      </center>
          <center><h4>Tania Gonzalez, Ph.D.</h4></center>
          <p>Dr. Gonzalez is the Assistant Director for Outreach at the Counseling and Psychological Services for UC Merced. She is a licensed Clinical Psychologist who has practiced within the Merced and Fresno community for the last several years. She completed her undergraduate studies at California State University, Hayward where she majored in Psychology with a double minor in Sociology and Criminal Justice. Her graduate degree in Clinical Psychology was earned at the California School of Professional Psychology with a focus in Psychoanalytic Psychotherapy and Forensic studies. During her professional career, she has had the opportunity to train and work with a wide variety of clientele in settings such as group homes, California Youth Authority, Boys and Girls Club, Unified school district, California Department of Corrections and Rehabilitation, community private practice and the Veteran’s Affairs. She has held both management and supervisory positions and has discovered great reward in assisting students, psychological assistants and support staff through their professional and interpersonal growth. Through her own career endeavors, Dr. Gonzalez has gained practical experience and knowledge of issues involving socioeconomic aspects, cultural diversity, diagnostic considerations and treatment modalities. Her clinical practice is influenced by attachment and object relations theory utilizing a psychodynamic approach. She has assisted clients with a variety of concerns including but not limited to: eating disorders, PTSD, relationship issues, depression, anxiety, LGBT, adjustment and grief. She adopts a direct yet empathic approach to her work and is mindful of the unique multi-cultural needs of UC Merced. She strives to incorporate these ideologies while working with students in overcoming challenges to emotional wellness. Currently Dr. Gonzalez is a member of the American Psychological Association and San Joaquin Valley Psychological Association.</p>
      </div>

      <div class="col-lg-3">
      <center>
          <div class="john-photo"></div>
      </center>
          <center><h4>John M. Rector, Ph.D.</h4></center>
          <p>Dr. Rector is a Counseling Psychologist at the UC Merced Counseling Center. He received his bachelor's and doctoral degrees from Brigham Young University, and his masters degree from Tufts University. Dr. Rector has many year's experience in university counseling center settings where he is comfortable working with a wide variety of client concerns. He is especially proficient in helping students with anxiety disorders (e.g., OCD, panic disorder, etc.), depressive conditions, and existential concerns. Dr. Rector's clinical orientation is largely integrative, but he's been especially influenced by Acceptance and Commitment Therapy,various mindfulness practices, Existential Psychotherapy, and Cognitive/Behavioral Therapy. Dr. Rector also writes and teaches on the psychology of religion. His most recent publication is The Objectification Spectrum: Understanding and Transcending Our Diminishment and Dehumanization of Others, published by Oxford University Press (2014). He is the past chairperson for the American Psychological Association Annual Convention for Division 36 (Psychology of Religion), and is currently serving as Assistant Editor for the journal Issues in Religion and Psychotherapy.</p>
      </div>


</div>




  <div class="row">
     



       <div class="col-lg-3">
      <center>
          <div class="gina-photo"></div>
      </center>
          <center><h4>Gina Vieira</h4></center>
          <p>Gina Vieira is a native of the Central Valley and grew up in the Merced/Atwater area. She began her work with UC Merced’s Counseling and Psychological Services Department in August of 2014. Gina had previously worked for the UC as a part-time Lab Coordinator for the School of Social Sciences, Humanities and Arts for two years. Her main focus is to attend to all reception needs, helping clients as they arrive for appointments, making appointments and managing schedules for all staff. Additionally, Gina assists with any necessary purchasing and management of financial assets of the department.  </p>
      </div>


      <div class="col-lg-3">
      <center>
          <div class="aimee-photo"></div>
      </center>
          <center><h4>Aimee Rank<br></h4></center>
          <p>Aimee Rank is a native of California and grew up in the central valley. She has worked for UC Merced Counseling and Psychological Services for just over two years as the Administrative Assistant and has worked on campus for just over three years. Her main focus is departmental purchasing and management of financial assets for both CAPS and Disability Services as necessary. Additionally Aimee assists with reception; helping clients as they arrive for appointments, making appointments and managing schedules for all staff. Aimee previously worked in customer service and learned to be receptive to all persons through her experiences.</p>
      </div>




</div>






 