<%= provide(:title, 'Mens Health') %>
<!-- Custom styles for this template -->

<script src="../assets/init.js"></script>

<style>
#area1{
background: url('../assets/flowers.jpg'); 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: -100px 0;
}


.area2 h2, .area2 p{
  color:#000000;
}


#area3{
background: url('../assets/tree.jpg');50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}


  .area3 .span8 {
    margin-right: 40px;
    margin-left: 40px;
    }

.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}
h2 {color:#FFFFFF;
}
p {color:#FFFFFF;}
</style>



<div class="area2">
      <div class="featurette">
        <img class="featurette-image">
        <div class="span12">
        <h2 class="featurette-heading"> <span class="muted">Men's Health</span></h2>
        <p class="lead">
          Student Health Services provides routine care to meet the health care needs of men.  Services include: routine physical examination, diagnosis and treatment of illness, injury and ongoing conditions, screening for sexually transmitted infections and diagnosis of male urinary/genital disorders, preventative health counseling and education, and specialist referrals.  All services are provided in a confidential, non-judgmental atmosphere.
     <h3>Men's Health on the Web</h3>    
       <table class="lead table table-striped table-bordered table-condensed table-hover">
       <thead>
        <tr> 
            <th>Resource</th>
            <th>Links</th>
        </tr>
        </thead>


      <tr>
        <td>Men's Fitness</td>
        <td><a href="http://www.mensfitness.com/" target="_blank"> www.mensfitness.com </a></td>

      </tr>
      <tr>
        <td>Male Health</td>
        <td><a href="http://www.malehealthcenter.com/" target="_blank"> www.malehealthcenter.com</a></td>

      </tr>
      <tr>
        <td>Condoms</td>
        <td><a href="http://www.condomdepot.com/reviews/best-condoms.cfm" target="_blank"> Reliability Ratings of Condoms</a></td>
      </tr>
      <tr>
        <td>LGBTQ Health</td>
        <td><a href="http://www.gmhc.org/" target="_blank"> www.gmhc.org</a>
          <a href="http://www.gmhc.org/" target="_blank"> http://www.gmhc.org/</a><br>
          <a href="http://www.cdc.gov/lgbthealth/women.htm" target="_blank"> http://www.cdc.gov/lgbthealth/women.htm</a><br>
          <a href="http://www.fenwayhealth.org/" target="_blank"> http://www.fenwayhealth.org/</a><br>
          <a href="http://www.youthresource.org/" target="_blank"> http://www.youthresource.org/</a><br>
          <a href="http://www.glnh.org/index.php" target="_blank"> http://www.glnh.org/index.php</a><br>
        </td>
      </tr>
      <tr>
        <td>STD Info</td>
        <td><a href="http://www.cdc.gov/STD" target="_blank"> www.cdc.gov/STD </a></td>
      </tr>
      <tr>
        <td>CDC site</td>
        <td><a href="http://www.cdc.gov/" target="_blank"> www.cdc.gov </a></td>
      </tr>    
      <tr>
        <td>Herpes Information</td>
        <td><a href="http://www.nlm.nih.gov/medlineplus/herpessimplex.html" target="_blank"> www.nlm.nih.gov/medlineplus/herpessimplex.html </a></td>
      </tr>    
      <tr>
        <td>Asthma/Allergies</td>
        <td><a href="http://www.aafa.org/" target="_blank">www.aafa.org</a></td>
      </tr>    
      <tr>
        <td>Go Ask Allice!</td>
        <td><a href="http://www.goaskalice.columbia.edu/" target="_blank"> www.goaskalice.columbia.edu</a></td>
      </tr>    
    </table>


        <p class="lead">

 <b> Frequently Asked Questions: Men’s Health </b>
      <br><br>
      <b> Sexually Transmitted Infections </b>
      <br><br>
      A sexually transmitted infection, or STI, is an infection passed from person to person through sexual contact.  You can get and pass STIs through vaginal, anal, and oral sex or during genital touching.
      <br><br>

      <a name="doineed"></a><b>
      Q: Do I need to be tested for sexually transmitted infections if I don’t have any symptoms?</a>
      </b><br><br>
      <b> A: </b> STI testing and treatment can help reduce the spread of STIs.  It is important to have an honest and open talk about your sexual health, with your healthcare provider.  Together we can help you make an informed decision about STI testing.  Current CDC guidelines recommend:
      <br><br>
      • All adults and adolescents from ages 13-64 should be tested at least once for HIV.
      <br>
      • Annual chlamydia screening for all sexually active women age 25 and under.
      <br>
      • Annual gonorrhea screening for at-risk sexually active women.
      <br>
      • Syphilis, HIV, chlamydia, and hepatitis B screening for all pregnant women, and gonorrhea screening for at risk pregnant women.
      <br>
      • Screening at least once a year for syphilis, chlamydia, and gonorrhea for all sexually active gay, bisexual, and other men who have sex with men (MSM).
      <br>
      • Anyone who has unsafe sex or shares injection drug equipment should get tested for HIV at least once a year.  High risk individuals may benefit from more frequent testing.
      Content source: Center for Disease Control and Prevention  cdc.gov
      <br><br>
      Have questions or need an appointment call the health center at 228-2273.
      <br><br>

      <a name="whatare"></a><b>
      Q: What are some of the symptoms of sexually transmitted infections?
      </b> <br><br>
      <b> A: </b>Males often have no symptoms of STIs.  If you do have symptoms, they might include a discharge from your penis, sores on your penis, pain and swelling in the testicles, and burning in your urethra.  
      <br><br>



      <b>Q: How can I decrease my risk of sexually transmitted infections? </b>
      </b> <br><br>
      <b> A: </b> All men should take steps to lower their risk of STIs these may include:  
      <br><br>
      • Use condoms correctly and every time you have sex.
      <br>
      • Know that certain birth control methods don’t protect against STIs.  Birth control methods including the pill, shots, implants, IUDs, diaphragms, and spermicides will not protect you from STIs.  If your partner uses one of these methods, be sure to use a latex condom or dental dam correctly every time you have sex.
      <br>
      • Talk with your partner(s) about STIs and using condoms before having sex.  Setting the ground rules about testing and condom use will avoid future misunderstandings.  It is up to you to make sure you are protected.
      <br>
      • Get tested.  If either you or your partner has had other sexual partners in the past, get tested for STIs before having sex.  If you have an STI, let your sexual partner(s) know so you and your partner can get treatment.  Otherwise, the STI can get passed to others or back to you.  
      <br>
      • Be monogamous.  Having sex with only one partner can lower your risk.
      <br>
      • Get vaccinated for HPV, current guidelines recommend HPV vaccine for male adolescents from age 11-21 and up to age 26 for men who have sex with men and immunocompromised men.
      <br><br>

      <a name="mypartner"></a><b>
      Q:  My partner has HPV, do I have it?  Should I be tested?
      </b><br><br>
      <b> A: </b> If you have had unprotected sex with your partner you may have HPV.  There is no HPV test recommended for men.  HPV is a common virus and most sexually active people in the United States will have HPV at some time in their lives.  There are more than 40 types of HPV that are passed on through sexual contact.  Most men who get HPV never develop any symptoms or health problems.  But some types of HPV can cause genital warts. Other types can cause cancers of the penis, anus or oropharynx. 
      <br><br>

      <a name="arethere"></a><b>
      Q:  Are there ways to lower my chances of getting HPV?
      </b><br><br>
      <b> A: </b> A safe and effective HPV vaccine (Gardasil) can protect boys and men against the HPV types that cause most genital warts and anal cancers.  It is given in three shots over six months.  Condoms also lower the risk of transmission, but HPV can infect areas that are not covered by a condom, so condoms may not fully protect against HPV.   
      <br><br>
     


      <a name="hpv"></a><b>
      Q: What about the HPV vaccine, should I be vaccinated?
      </b><br><br>
      <b> A: </b> If you are 26 or younger, there is an HPV vaccine that can help protect you against the types of HPV that most commonly cause problems in men.  The HPV vaccine (Gardasil) works by preventing four common HPV types, two that cause most genital warts and two that cause cancers, including anal cancer.  It protects against new HPV infections; it does not cure existing HPV infections or disease (like genital warts).  It is most effective when given before a person’s first sexual contact (i.e. when s/he may be exposed to HPV).  
      <br><br>
      CDC recommends the HPV vaccine for all boys age 11 or 12, and for males through age 21, who have not already received all three doses.  The vaccine is also recommended for gay and bisexual men, or any man who has sex with men, and men with compromised immune systems through age 26, if they did not get fully vaccinated when they are younger.  The vaccine is safe for all men through age 26, but it is most effective when given at younger ages.
      <br><br>
      The HPV vaccine is very safe and effective, with no serious side effects.  The most common side effect is soreness in the arm.  Studies show that the vaccine can protect men against genital warts and anal cancers.  It is likely that this vaccine also protects men from other HPV-related cancers, like cancers of the penis and oropharynx, but there are no vaccine studies that evaluated these outcomes.
      <br><br>
      If you have questions about the HPV vaccine call and speak with the advice nurse at 228-4192, if you would like to schedule an immunization review call the appointment desk at 228-2273.
      <br><br><br>


        </p>
   </div>
   </div>
   </div>
