<%= provide(:title, 'About') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>Mental Health Awareness Days</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
<p class="lead">
          <br>
          <b>September 
          </b>
          <br>
          • National Alcohol and Drug Addiction Recovery Month
          <br>
          • Self Awareness Month
          <br>
          • Self Improvement Month
          <br>
          • Fruit and Veggie Month
          <br>
          • National Childhood Obesity Awareness Month
          <br>
          • 7th-14th  National Suicide Prevention Week
          <br>
          • 21st-International Day of Peace
          <br>
          • 24th National Women’s Health and Fitness Day
          <br>
          • 25th Rape, Abuse and Incest National Network Day
          <br>
          <hr class="featurette-divider">

        </p>
        <p class ="lead">
          <b>October </b> <br>
          • ADHD Awareness Month
          <br>
          • National Depression and Mental Health Screening Month 
          <br>
          <a href="http://www.mentalhealthscreening.org" target="_blank">http://www.mentalhealthscreening.org</a>
          <br>
          • Domestic violence Awareness Month
          <br>
          • National Bullying Prevention Month
          <br>
          • 5th-11th National Mental Illness Awareness Week
          <br>
          <a href="http://www.healthyminds.org" target="_blank">http://www.healthyminds.org</a>

          <br>
          • 9th-15th OCD Awareness Week (Obsessive-Compulsive Disorder)
          <br>
          • 10th World Mental Health Day
          <br>
          • 10th National Depression Screening Day
          <br>
          • 10th National Bipolar Awareness Day
          <br>
          • 19th-25th  National Collegiate Alcohol Awareness Week
          <br>
          • 24th Take Back Your Time Day
          <br>
          • 25th Make a Difference Day
          <br>
          <a href="http://www.makeadifferenceday.com" target="_blank">http://www.makeadifferenceday.com</a>
          <br>
          <hr class="featurette-divider">
        </p>

        <p class ="lead">
          <b>November </b> <br>
          • American Indian and Alaskan Native Heritage Month
          <br>
          • 5th Wellness Fair, UC Merced campus gym
          <br>
          • 9th-15th Mental Health Wellness Week
          <br>
          • 13th World Kindness Day
          <br>
          • 22nd International Survivors of Suicide Day
          <br>
          <hr class="featurette-divider">
        </p>

        <p class ="lead">
          <img class="featurette-image pull-right" src="../assets/aids.jpg">
          <b>December </b> <br>
          • AIDS Awareness Month
          <br>
          • 1st World AIDS Day
          <br>
          • 10th Human Rights Day
          <br><br>
          <hr class="featurette-divider">
        </p>

        <p class ="lead">
          <b>January </b> <br>
          • Mental Wellness Month
          <br>
          • National Slavery and Human Trafficking Prevention Month
          <br>
          • 18th-24th Healthy Weight Week
          <br>
          <a href="http://www.healthyweightnetwork.com" target="_blank">http://www.healthyweightnetwork.com</a>
          <br>
          <hr class="featurette-divider">
        </p>

        <p class ="lead">
          <b>February </b> <br>
          • Ethnic Equality Month
          <br>
          • Teen Dating Violence Aawareness Month
          <br>
          • 22nd-28th Eating Disorders Awareness Week   
          <br>
          <a href="http://www.nedawareness.org" target="_blank">http://www.nedawareness.org</a>
          <br>
          <hr class="featurette-divider">
        </p>

        <p class ="lead">
          <b>March </b> <br>
          • Brain Injury Awareness Month
          <br>
          • Mental Retardation Awareness Month
          <br>
          • National Nutrition Month
          <br>
          • Self Harm Awareness Month
          <br>
          • 2nd-8th Sleep Awareness Week
          <br>
          • 4th-10th National Collegiate Health and Wellness Week
          <br>
          <hr class="featurette-divider">
        </p>



        <p class ="lead">
          <b>April </b> <br>
          • Alcohol Awareness Month
          <br>
          • Autism Awareness Month
          <br>
          • Child Abuse Prevention Month
          <br>
          • Counseling Awareness Month
          <br>
          • Minority Health and Health Disparities Month
          <br>
          • National Humor Month
          <br>
          • Sexual Assault Awareness Month
          <br>
          • Stress Awareness Month
          <br>
          • 1st Sexual Assault Awareness Day of Action
          <br>
          • 3rd-5th Alcohol Free Weekend
          <br>
          • 7th World Health Day
          <br>
          <hr class="featurette-divider">
        </p>


        <p class ="lead">
          <b>May </b> <br>
          • National Better Sleep Month
          <br>
          • National Mental Health Month
          <br>
          • 5th-11th  National Mental Health Counseling Week  
          <br>
          <hr class="featurette-divider">
        </p>

             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
