<%= provide(:title, 'Minor Consent') %>
<!-- Custom styles for this template -->

<script src="../assets/init.js"></script>

<style>
#area1{
background: url('../assets/flowers.jpg'); 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: -100px 0;
}

.area2{

  min-width: 100%;
  position: relative;
  top: 0;
  left: 0;
  height: 650px;

}

.area2 h2, .area2 p{
  color:#000000;
}


#area3{
background: url('../assets/tree.jpg');50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}


  .area3 .span8 {
    margin-right: 40px;
    margin-left: 40px;
    }

.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}
h2 {color:#FFFFFF;
}
p {color:#FFFFFF;}
</style>



<div class="area2">
      <div class="featurette">
        <img class="featurette-image">
        <div class="span12">
        <h2 class="featurette-heading">Minor Consent - <span class="muted">Consent to Treat Minors</span></h2>
        <p class="lead">
        All minors under the age of 18 must have <a href="/minorconsent.pdf" target="_blank"> consent (PDF) </a>provided by a parent or legal guardian in order for Student Health Service to render medical care (with exceptions for emergencies and as provided by California state law).
        <br><br>
        See the chart below to determine when parental consent is required.



         <h3>Minor Consent Checklist</h3>    
       <table class="table table-striped table-bordered table-condensed table-hover">
       <thead>
        <tr> 
            <th>If a Minor (all persons under 18 years) is: </th>
            <th>Is parental consent required?</th>
        </tr>
        </thead>


      <tr>
        <td>Unmarried, no special circumstances</td>
        <td>Yes</td>

      </tr>
      <tr>
        <td>Unmarried, emergency care and parents not available</td>
        <td>No</td>

      </tr>
      <tr>
        <td>Married or previously married</td>
        <td>No</td>

      </tr>
      <tr>
        <td>Emancipated (declaration by court, identification card from DMV)</td>
        <td>No</td>

      </tr>
      <tr>
        <td>Self-sufficient (15 or older, not living at home, manages own financial affairs)</td>
        <td>No</td>

      </tr>
      <tr>
        <td>Not married, care related to birth control or treatment of pregnancy, except sterilization</td>
        <td>No</td>

      </tr>
      <tr>
        <td>Not married, seeking abortion</td>
        <td>No</td>

      </tr>
      <tr>
        <td>On active duty with Armed Forces</td>
        <td>No</td>
      </tr>
      <tr>
        <td>12 or older, care for communicable reportable disease or condition, including sexually transmitted disease</td>
        <td>No</td>

      </tr>
      <tr>
        <td>12 or older, care for rape</td>
        <td>No</td>

      </tr>
      <tr>
        <td>Care for sexual assault</td>
        <td>No</td>

      </tr>
      <tr>
        <td>12 or older, care for mental health treatment, outpatient only</td>
        <td>No</td>
      </tr>
      <tr>
        <td>12 or older, care for alcohol or drug abuse</td>
        <td>No</td>
      </tr>
    </table>

</p>
   </div>
   </div>
   </div>
