<%= provide(:title, 'myHealth-Messaging') %>
<style>
.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}

</style>

<div class="featurette">
<img class="featurette-image"> <!--this removes blue top space-->
 <h2 class="featurette-heading"> <span class="muted">myHealth-Messaging</span></h2>  
   
  <div class="content">
 <div class="row">
  <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-comments fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><i class="fa fa-h-square fa-fw"></i></div>
                      <div>
                      Log into Secure Messaging.
                      You will be prompted to provide your UCM LoginID and password.</div>
                  </div>
              </div>
          </div>
          <a href="http://myhealth.ucmerced.edu">
              <div class="panel-footer">
                  <span class="pull-left"><b>myHealth-Messaging</b></span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
</div>

<p class="lead">
  Getting in touch with Student Health Services staff just got even easier! <a href="http://myhealth.ucmerced.edu"><i class="fa fa-h-square fa-fw"></i> myHealth-Messaging</a> is a free service that offers a variety of new online options to streamline and enhance your healthcare experience here at Student Health Services. This is a secure and confidential way to communicate about your non-urgent healthcare needs. You can use <a href="http://myhealth.ucmerced.edu"><i class="fa fa-h-square fa-fw"></i> myHealth-Messaging</a> to:
  <br><br>
  • Follow up on your visit, by communicating with your provider
  <br>
  • Complete your online Medical History form
  <br>
  • Submit your immunizations for verification
  <br>
  • Fill out pre-appointment visit questionnaires
  <br>
  • View your scheduled appointments
  <br><br>
  The <a href="http://myhealth.ucmerced.edu"><i class="fa fa-h-square fa-fw"></i> myHealth-Messaging</a> service, allows you to communicate with our office when it’s most convenient for you. You’ll be able to communicate with us from anywhere simply by logging into our site and using your UC Merced login and password. You’ll save time by avoiding non-urgent office visits and be able to manage your care more efficiently.

</p>

    </div>
  </div>