<%= provide(:title, 'National Mental Health Resources') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>National Mental Health Resources</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>

            <table class="lead table table-striped table-bordered table-condensed table-hover">
                 <thead>
                  <tr> 
                      <th>Resource</th>
                      <th>Contact Information</th>
                  </tr>
                  </thead>


                <tr>
                  <td>National Suicide Prevention Lifeline</td>
                  <td>
                    800-273-TALK (8255)
                  </td>
                </tr>

                <tr>
                  <td>Mental Health America</td>
                  <td>
                    <a href="http://www.mentalhealthamerica.net" target="_blank"> http://www.mentalhealthamerica.net</a>
                  </td>
                </tr>
                <tr>
                  <td>Healthy Minds</td>
                  <td>
                  <a href="http://www.psychiatry.org/mentalhealth" target="_blank">http://www.psychiatry.org/mentalhealth</a><br>
                  </td>
                </tr>
                <tr>
                  <td>National Alliance on Mental Illness</td>
                  <td>
                    <a href="http://www.nami.org" target="_blank">http://www.nami.org</a>
                  </td>
                </tr>
                <tr>
                  <td>World Federation for Mental Health</td>
                  <td>
                  <a href="http://www.wfmh.org" target="_blank">http://www.wfmh.org</a>
                  </td>
                </tr>
                <tr>
                  <td>American Foundation for Suicide Prevention</td>
                  <td>
                  <a href="http://www.afsp.org" target="_blank">http://www.afsp.org</a>
                  </td>
                </tr>
                <tr>
                  <td>Each Mind Matters</td>
                  <td>
                  <a href="http://www.eachmindmatters.org" target="_blank">http://www.eachmindmatters.org</a>
                  </td>
                </tr>

              </table>

             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
