<%= provide(:title, 'Online Resources') %>
<style>
.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}

</style>

<div class="featurette">
<img class="featurette-image"> <!--this removes blue top space-->
 <h2 class="featurette-heading"> <span class="muted">Online Resources</span></h2>  
   
   <div class="content">
      <p><table cellspacing="0" cellpadding="0" border="0" width="100%">
<tbody>

</tbody>
</table>
<!-- BEGIN CONTENT --><!-- BEGIN CONTENT --></p>
<p class="lead">Disclaimer: The UC Merced Student Health Center offers no endorsement of and assumes no liability for damages incurred directly or indirectly as a result of errors, omissions or discrepancies. These resources are provided to give you access to organizations whose expertise may be of value as an educational or reference tool. These sites are not controlled, sponsored or endorsed by UC Merced Student Health Services. For specific advice about your health and wellness, please schedule an appointment to speak to a health care clinician or counseling professional. </p>
<p class="lead">

         <table class="lead table table-striped table-bordered table-condensed table-hover" border="0">
<tbody>
<tr>
<td><b>Alcohol & Other Drugs</b></td>
</tr>

<tr>
  <td> College Drinking Prevention</td>
  <td><a href="http://www.collegedrinkingprevention.gov/">www.collegedrinkingprevention.gov</a></td>
</tr>


<tr>
  <td> Drug Help</td>
  <td><a href="http://www.drughelp.com">www.drughelp.com</a></td>
</tr>


<tr>
  <td> National Council on Alcoholism & Drug Dependence</td>
  <td><a href="http://www.ncadd.org">www.ncadd.org</a></td>
</tr>


<tr>
<td><b>Eating Well</b></td>
</tr>


<tr>
  <td> National Eating Disorders Association</td>
  <td><a href="http://www.nationaleatingdisorders.org">www.nationaleatingdisorders.org</a></td>
</tr>


<tr>
  <td> Produce for a Better Health Foundation</td>
  <td><a href="http://www.fruitsandveggiesmorematters.org">www.fruitsandveggiesmorematters.org</a></td>
</tr>



<tr>
<td><b>Fitness</b></td>
</tr>


<tr>
  <td> American Council on Exercise</td>
  <td><a href="http://www.acefitness.org/acefit/default.aspx">www.acefitness.org/acefit/default.aspx</a></td>
</tr>


<tr>
<td><b>General Information</b></td>
</tr>

<tr>
  <td> American Academy of Family Practice</td>
  <td><a href="http://www.familydoctor.org">www.familydoctor.org</a></td>
</tr>


<tr>
  <td> Centers for Disease Control</td>
  <td><a href="http://www.cdc.gov">www.cdc.gov</a></td>
</tr>


<tr>
  <td> Health Questions</td>
  <td><a href="http://www.goaskalice.columbia.edu/">www.goaskalice.columbia.edu/</a></td>
</tr>


<tr>
  <td> Mayo Clinic</td>
  <td><a href="http://www.mayoclinic.com">www.mayoclinic.com</a></td>
</tr>


<tr>
  <td> National Health Information</td>
  <td><a href="http://www.healthfinder.gov">www.healthfinder.gov</a></td>
</tr>


<tr>
  <td> Virtual Hospital</td>
  <td><a href="http://www.uihealthcare.org/vh/">www.uihealthcare.org/vh/</a></td>
</tr>


<tr>
<td><b>Mental Health</b></td>
</tr>

<tr>
  <td>Ulifeline</td>
  <td><a href="http://www.ulifeline.org/ucmerced/">www.ulifeline.org/ucmerced/</a></td>
</tr>

<tr>
  <td>Ulifeline</td>
  <td><a href="http://www.relaxation.com">www.relaxation.com</a></td>
</tr>

<tr>
<td><b>Pharmacy</b></td>
</tr>

<tr>
  <td>PDR – Getting Well</td>
  <td><a href="http://www.pdrhealth.com">www.pdrhealth.com</a></td>
</tr>

<tr>
<td><b>Sexual Health</b></td>
</tr>


<tr>
  <td>American Social Health Association</td>
  <td><a href="http://www.iwannaknow.org">www.iwannaknow.org</a></td>
</tr>


<tr>
  <td>Bacchus & Gamma Peer Education</td>
  <td><a href="http://www.smartersex.org/index.asp">www.smartersex.org/index.asp</a></td>
</tr>


<tr>
  <td>Kaiser Family Foundation</td>
  <td><a href="http://www.itsyoursexlife.com">www.itsyoursexlife.com</a></td>
</tr>

</table>

<br><br><br>

    </div>
  </div>