<%= provide(:title, 'Parents') %>


      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/mascot1.jpg">
        <h2 class="featurette-heading">Goals - <span class="muted">We are commited to providing the highest quality primary heatlh care.</span></h2>
        <p class="lead">Provide accessible, timely primary care that is personalized, confidential and cost-effective.<br>
        Educate students, emphasizing health promotion, healthy lifestyles, and lifelong disease prevention.<br>
        Promote a campus community that provides a supportive environment for students to pursue personal wellness.<br>
        Foster an environment to teach life-long learning skills to students to be active participants in their health and wellness.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="../assets/mascot2.jpg">
        <h2 class="featurette-heading"> Maintaining Wellness - <span class="muted">Attending UCM is about more than just taking academic courses.</span></h2>
        <p class="lead"><br>While your intellect is being broadened and developed, it is important that you nurture your physical and mental health to maintain balance and wellness.<br> Be physically active. Structure your time so that you have at least 30 minutes per day for recreational activity. <br> Eat well. Always have breakfast, and eat foods that are low in fat. Select five more servings of fruits and vegetables each day.<br> Reduce stress. Be sure to obtain seven to nine hours of sleep per night. Discuss your feelings with others, including family, friends and health professionals at Student Health, or at Psychological & Counseling Services where services are free and confidential. <br> Maintain high self esteem. Make intelligent choices and take responsibility for your health. <br> Don't smoke. Smokers have three times greater chance of dying from heart disease and 25 times greater chance of developing lung cancer. <br> Don't use drugs and avoid alcohol. The greatest risk to your life is related to the use of drugs or alcohol, which impede judgement and motor skills.
        </p>
      </div>

