<%= provide(:title, 'Hours') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>FAMILY, FRIENDS, AND LOVED ONES</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
<p>
    Counseling and Psychological Services (CAPS) provides individual, couples, and group therapy as well as crisis services aimed at supporting the academic
    and personal growth of undergraduate and graduate students enrolled at the University of California Merced. Crisis services and on-going counseling
    services are provided free of charge. While CAPS staff are professional psychologists with many years of experience, occasionally a student may present
    with issues that go beyond the scope of what a university counseling center can treat, and in those instances students will be given referral information
    about the most appropriate and available psychological resources for their particular needs.
</p>
<p>
    Our services are confidential and governed by the laws and rules of the state of California regarding mental health services. If students are 18 or older,
    all aspects of their mental health treatment are completely confidential, including the fact that the student is a client at CAPS. Information about a
    student’s treatment at CAPS will only be given out with a release of information signed by the student. Exceptions to this policy are as follows:
</p>
<p>
    • when a student presents an imminent, credible threat of physical harm to self or identifiable others
</p>
<p>
    • when a student meets criteria as “gravely disabled”
</p>
<p>
    • when there has been disclosure of physical abuse, sexual abuse or neglect of a minor under the age of 18, an elderly adult, or a vulnerable adult —staff
    are mandated by state law to report these to the proper authorities
</p>
<p>
    • when a court-ordered subpoena requires the release of information from a student’s client file
</p>
<p align="center">
    <b>When to refer someone to Counseling and Psychological Services</b>
    <b></b>
</p>
<p>
    CAPS is equipped to deal with a wide variety of concerns that may lead a student to seek counseling. You may become aware of behavioral changes in your
    student that you believe should be addressed by a professional therapist. Some signs that may indicate your student might be in distress are:
</p>
<p>
    <b><i>Academic indicators</i></b>
    <b><i></i></b>
</p>
<p>
    • Sudden decline in academic performance
</p>
<p>
    • Missing class repeatedly
</p>
<p>
    • Lack of motivation to do homework, complete courses, etc.
</p>
<p>
    <b><i>Physical indicators</i></b>
    <b><i></i></b>
</p>
<p>
    • Marked deterioration in grooming, hygiene, personal care
</p>
<p>
    • Sleep disturbance (too much or too little)
</p>
<p>
    • Excessive use of alcohol or other substances
</p>
<p>
    • Weight and appetite changes
</p>
<p>
    • Signs of self-injury
</p>
<p>
    <b><i>Psychological indicators</i></b>
    <b><i></i></b>
</p>
<p>
    • Brooding, isolating from others, avoidance of social situations
</p>
<p>
    • Excessive emotional expression including crying, angry outbursts, panic reactions
</p>
<p>
    • Apathy, lethargy, lack of engagement with life
</p>
<p>
    • Anxiety and/or depression to the level that it interferes with the ability to live normally
</p>
<p>
    • Bizarre or otherwise extremely uncharacteristic behavior
</p>
<p>
    • Thoughts of harming self or others
</p>
<p>
    <b><i>Safety risk indicators</i></b>
    <b><i></i></b>
</p>
<p>
    • Physical violence or the threat of it, verbally or by other means of communication
</p>
<p>
    • Voicing suicidal thoughts or intent
</p>
<p>
    • “Cry for help” behavior, including verbalizing hopelessness, rage, worthlessness, etc.
</p>
<p>
    • Stalking or harassing others
</p>
<p align="center">
    <b>Adjusting to college life</b>
    <b></b>
</p>
<p>
    The adjustment to college life is a big transition for most students. The support of family and loved ones during the college years is invaluable in
    helping a student to be successful academically, socially, and psychologically. Many resources are available to help loved ones and students in making the
    college experience a success. Here is a list of resources including websites and books.
</p>
<p>
    Books:
</p>
<p>
    <i> </i>
Coburn, K.L., &amp; Treeger, M.L. (2009). <i>Letting go:</i><i> </i><i> </i><i>A parents</i><i>’</i><i> </i>    <i>guide to understanding the college years.</i>
</p>
<p>
Epstein, J. (2001). <i>A parent</i><i>’</i><i>s guide to sex, drugs, and flunking out:</i><i> </i><i> </i><i>Answers to the q</i><i>uestions </i><i>y</i>    <i>our </i><i>college s</i><i>tudent </i><i>d</i><i>oesn</i><i>’</i><i>t w</i><i>ant </i><i>you to ask. </i>
</p>
<p>
    Gardner, J.N., &amp; Jewler, A.J. (2011). <i>Your </i><i>college experience:</i><i> </i><i> </i><i>Strategies for s</i><i>uccess</i><i>.</i><i></i>
</p>
<p>
    <i> </i>
    Johnson, E., &amp; Schelhas-Miller, C. (2011). <i>Don</i><i>’</i><i>t t</i><i>ell </i><i>me what to do, just send money. </i><i></i>
</p>
<p>
    <i> </i>
Kadison, R. &amp; DiGeronimo, T.F. (2005). <i>College of the overwhelmed:</i><i> </i><i> </i>    <i>The campus mental health crisis and what to do about it.</i><i></i>
</p>
<p>
    <i> </i>
    Nist, S.L., &amp; Holschuh, J.P. (2011). <i>College rules!</i><i> </i><i> </i><i>How to study, survive and succeed in college. </i><i></i>
</p>
<p>
    <i> </i>
Savage, M. (2003). <i>You</i><i>’</i><i>re on y</i><i>our </i><i>own (but I</i><i>’</i><i>m here if you n</i><i>eed </i><i>me):</i><i> </i><i> </i>    <i>Mentoring y</i><i>our </i><i>child during the college years.</i><i></i>
</p>
<p>
    <i> </i>
    Vye, C., Scholljegerdes, K., &amp; Welch, I.D. (2007).<i> Under pressure and overwhelmed: Coping with anxiety in college.</i><i></i>
</p>
<p>
    Internet resources:
</p>
<p>
    Transition to college Link to:
    <a href="http://www.aboutourkids.org/articles/transition_college_separation_change_parents_students">
        <i>http://www.aboutourkids.org/articles/transition_college_separation_change_parents_students</i>
    </a>
</p>
<p>
    Tips for talking about substance abuse Link to:
    <a href="http://hcs.calpoly.edu/content/counseling/talking-about-substance-use-tips-parents">
        <i>http://hcs.calpoly.edu/content/counseling/talking-about-substance-use-tips-parents</i>
    </a>
</p>
<p>
    Family adjustment to student in college Link to:
    <a href="http://www.today.com/id/3079389/site/todayshow/ns/today-parenting_and_family/t/when-college-kids-come-home-summer/#.U_JvDUt0UfE">
        <i>http://www.today.com/id/3079389/site/todayshow/ns/today-parenting_and_family/t/when-college-kids-come-home-summer/#.U_JvDUt0UfE</i>
    </a>
</p>
<p align="center">
    <b>Utilizing Counseling Services</b>
</p>
<p>
    You are welcome to consult with CAPS staff about any concerns you have about your student. If the student is an active client with CAPS and over the age of
    18, we cannot speak with you about your student specifically unless the student has signed a release of information for us to talk with you. However, we
    are able to talk generally with you about your concerns and offer you guidance on steps you can take. Please call CAPS between 8:00 am and 5:00 pm Monday
    through Friday at 209-228-4266. You may also call this number after hours and you will be connected with crisis emergency services.
</p>
<p align="center">
    <b>University of California, Merced </b>
    <b>• </b>
    <b>
        Counseling &amp; Psychological Services
        <br/>
    </b>
    P.O. Box 2039
    <br/>
    H. Rajender Reddy Health Center
    <br/>
    Joseph Edward Gallo Recreation &amp; Wellness Center, 2nd Floor
    <br/>
    Merced, CA 95344
    <br/>
    209.228.4266 • <a href="mailto:counseling@ucmerced.edu">counseling@ucmerced.edu</a>
</p>
<p>
    <b></b>
</p>
             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
