<%= provide(:title, 'Payments') %>

<style>



.area2 h2, .area2 p{
  color:#000000;
}


.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}
h2 {color:#FFFFFF;
}
.featurette-heading h2 {color:#FFFFFF;}
p {color:#FFFFFF;}
</style>



<div class="area2">
      <div class="featurette">
        <img class="featurette-image">
        <div class="span12">
        <h2 class="featurette-heading"> <span class="muted">Pay For Services via <a class="btn btn-primary btn-md" href="https://cas.ucmerced.edu/cas/login?service=https%3a%2f%2fintelforms.ucmerced.edu%2fCasLogin.aspx"> <h2> Make a Payment </h2> </a> </span></h2>
        <p class="lead">
        Students can also pay at the cashier's office in the library next to the Students First Center. <br>
          Below is a partial list of services offered at the Student Health Center. Prices are subject to change without notice. <br>
        Students with the University's Student Health Insurance Plan (SHIP) will have their insurance billed for the cost of the service where they are a covered benefit.


         <table class="lead table table-striped table-bordered table-condensed table-hover">
         <thead>
          <tr> 
              <th>Services</th>
              <th>Students w/o UC SHIP</th>
              <th>Students w UC SHIP</th>
          </tr>
          </thead>


        <tr>
          <td><b>Visits:</b></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Primary Care Visit</td>
          <td>FREE</td>
          <td>FREE</td>
        </tr>

        <tr>
          <td>Nurse Visit</td>
          <td>FREE</td>
          <td>FREE</td>
        </tr>

        <tr>
          <td>Travel Clearance Exam </td>
          <td>$25.00</td>
          <td>$25.00</td>
        </tr>


        <tr>
          <td>Sports Physical Clearance Exam </td>
          <td>$25.00</td>
          <td>$25.00</td>
        </tr>

        <tr>
          <td>Routine Physical Exam (Men, Women, PAPS)</td>
          <td>$25.00</td>
          <td>Billed to UC SHIP</td>
        </tr>

        <tr>
          <td><b>Lab Services:</b></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>HIV Test (finger stick) - Anonymous by Appt.</td>
          <td>FREE</td>
          <td>FREE</td>
        </tr>
        <tr>
          <td>Urine Pregnancy Test - Schedule Appt. with Nurse</td>
          <td>$3.00</td>
          <td>$3.00</td>
        </tr>

        <tr>
          <td><b>Immunizations:</b></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Hepatitis A (2 Injections)</td>
          <td>$80.00 ea Injection</td>
          <td>Billed to UC SHIP</td>
        </tr>
        <tr>
          <td>Hepatitis B (3 Injections)</td>
          <td>$75.00 ea Injection</td>
          <td>Billed to UC SHIP</td>
        </tr>
        <tr>
          <td>HPV (3 Injections)</td>
          <td>$160.00 ea Injection</td>
          <td>Billed to UC SHIP</td>
        </tr>

        <tr>
          <td>Influenza (seasonal flu)</td>
          <td>FREE</td>
          <td>FREE</td>
        </tr>
        <tr>
          <td>Menactra (Meningitis)</td>
          <td>$135.00</td>
          <td>Billed to UC SHIP</td>
        </tr>
        <tr>
          <td>TB Test (PPD) Screening</td>
          <td>$12.00</td>
          <td>Billed to UC SHIP</td>
        </tr>
        <tr>
          <td>Tetanus</td>
          <td>$25.00</td>
          <td>Billed to UC SHIP</td>
        </tr>
        <tr>
          <td>Tetanus, Diphtheria & Pertussis</td>
          <td>$52.00</td>
          <td>Billed to UC SHIP</td>
        </tr>

        <tr>
          <td><b>Medical Supply:</b></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Cold/Hot Packs</td>
          <td>$3.00</td>
          <td>$3.00</td>
        </tr>

        <tr>
          <td>Condoms (10 per package)</td>
          <td>$1.00</td>
          <td>$1.00</td>
        </tr>

        <tr>
          <td>Crutches</td>
          <td>$25.00</td>
          <td>Billed to UC SHIP</td>
        </tr>

        <tr>
          <td>Splints</td>
          <td>Varies</td>
          <td>Billed to UC SHIP</td>
        </tr>


        <tr>
          <td><b>Medications:</b> Over-the-Counter (Generic equivalents)</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Claritin 10 mg - 30 tabs</td>
          <td>$7.25</td>
          <td>$7.25</td>
        </tr>
        <tr>
          <td>Eye Drops 15 ml</td>
          <td>$6.25</td>
          <td>$6.25</td>
        </tr>
        <tr>
          <td>Motrin 200 mg - 30 tabs</td>
          <td>$7.25</td>
          <td>$7.25</td>
        </tr>
        <tr>
          <td>Plan B 1.5 mg - 1 tab</td>
          <td>$40.00</td>
          <td>$40.00</td>
        </tr>

        <tr>
          <td><b>Medical Records:</b></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
        <td colspan="3"> 
        Records - $15.00 first 20 pages, $0.10 per page thereafter.  
        </td>
        </tr>
        </table>


        <br><br><br>







        </p>
   </div>
   </div>
   </div>

