<%= provide(:title, 'Post Crisis') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>Emotional Debriefing Post-Crisis</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
<p>
    Unfortunately, tragic events occur on college campuses. These events often leave many students, faculty, staff, and members of the college or university
    community severely traumatized. When this happens, providing some time in a class setting for emotional debriefing can significantly aid and promote the
    healing process.
</p>
<p>
    Provide time during class to discuss the incident and the students’ feelings about it. The students should be encouraged to express feelings in a
    supportive atmosphere as soon as possible. The professor might say, “I’m still (sad, shaken, upset) by the tragedy that happened on campus on Thursday. I’m
    glad to be with all of you again. How are each of you (feeling, doing, coping) with this?"
</p>
<p>
    Give the students 30 seconds to a minute to say something. They may need a little time to get the courage to speak. If students do not speak, remind them
    of your office hours, your e-mail address, and/or your willingness to meet one-on-one. Emphasize that talking about the trauma is a good and healing thing
    to do. If you share some of your feelings, it will encourage them to talk. The minor loss of instructional time will be insignificant because if they are
    having serious emotional reactions their learning will be compromised.
</p>
<p>
    It is also important to let them know that when events like this occur, Counseling and Psychological Services makes special arrangements to provide support
    to students who are affected by the situation. If they would like help or support, they should contact Counseling and Psychological Services as soon as
    possible.
</p>
<p>
    Remember that everyone’s story is valid. Not everyone has to speak. Emotional debriefing is not about establishing facts of the incident. It is about
    expression of feelings. Whatever students say can be answered with, “It must be terrible to think about that.” Or, “It must hurt a lot to remember it that
    way.”
</p>
<p>
    If you are able to identify students who are most upset, a referral to Counseling &amp; Psychological Services would be helpful. When speaking to students,
    try to do so in a calm, relaxed way and don’t worry if you show emotion in front of them. When the students finish talking, you can offer them a moment of
    silence. Suggest that they close their eyes and breathe slowly and deeply three or four times. If you are worried about a particular student, approach
    her/him privately. If you are concerned about your own reactions to the situation, consider seeking help. Counseling and Psychological Services can consult
    with you about whether you should think about seeking help.
</p>
<p>
    Some students who have had close involvement with the crisis may have very vivid perceptions regarding the sights, sounds, smells, and tastes of the event.
    It is not uncommon for them to feel something is wrong with them because the memories of these sensory perceptions are so strong. You can reassure them
    that such feelings are not uncommon after a tragedy. You might ask: “Others have reported similar perceptions and thoughts after such a tragedy.” Or, “It
    must have been so upsetting to (see, hear, feel, smell, taste) that.”
</p>
<p>
    Some students feel very guilty. They may have been close enough to the situation or victims that they believe there is something they should have done to
    prevent the tragedy or harm to some of the victims. They may believe that they should have been there to help some of the victims. To address this, you
    might say: “After a tragedy, people often second guess themselves, and they are not sure they did everything they could. That’s a natural feeling of
    wanting to help others. It does not reflect what was really possible.”
</p>
<p>
    A future orientation is helpful. You might ask: “What are you worried about right now?” When students speak about future concerns, you might be able to
    alleviate some of their worries with facts or other ideas and thoughts. Giving students a chance to share their worries reduces anxiety. You can say, “It’s
    really too early to know all the facts about what is going to happen. But you can help yourself to deal with this tragedy. Many people find that talking
    with others, spending time with family, and connecting with ministers, rabbis, or priests can hasten the healing process.”
</p>
<p>
    After class, if students come to your office to speak in private, remember they are looking for someone who will validate their grief, not talk them out of
    it. Sitting quietly with them and letting them talk may be all that is needed. Share your own feelings about the tragedy. You might even tell them about
    other losses you’ve experienced if you’re comfortable with that. If you do talk about past losses, it is helpful to end by saying that for you there was a
    gradual improvement in hopefulness and mood as time passed. You can simply say that you hope they have the same experience of healing.
</p>
<p>
These suggestions were adapted from: Poland, S., &amp; McCormick, J. S. (1999).    <i>Coping with a crisis: A resources for schools, parents, and communities.</i> Longmont, CO: Sopris West.
</p>
<p align="center">
    <b>University of California, Merced </b>
    <b>• </b>
    <b>
        Counseling &amp; Psychological Services
        <br/>
    </b>
    P.O. Box 2039
    <br/>
    H. Rajender Reddy Health Center
    <br/>
    Joseph Edward Gallo Recreation &amp; Wellness Center, 2nd Floor
    <br/>
    Merced, CA 95344
    <br/>
    209.228.4266 • <a href="mailto:counseling@ucmerced.edu">counseling@ucmerced.edu</a>
</p>
             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
