<%= provide(:title, 'Primary Care') %>
<!-- Custom styles for this template -->

<script src="../assets/init.js"></script>

<style>
#area1{
background: url('../assets/flowers.jpg'); 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: -100px 0;
}


.area2 h2, .area2 p{
  color:#000000;
}


#area3{
background: url('../assets/tree.jpg');50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}


  .area3 .span8 {
    margin-right: 40px;
    margin-left: 40px;
    }

.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}
h2 {color:#FFFFFF;
}
p {color:#FFFFFF;}
</style>



<div class="area2">
      <div class="featurette">
        <img class="featurette-image">
        <div class="span12">
        <h2 class="featurette-heading"> <span class="muted">Primary Care</span></h2>
        <p class="lead">
        <img class="featurette-image img-responsive pull-right" src="../assets/primarycare.jpg">
  		 We utilize a family practice model that incorporates health education.  
  		 <br><br>
		We encourage you to make an appointment with our medical providers if you are sick or injured and also to discuss any aspect of your health & wellness while you are on campus.
		<br><br>
		<b>We offer the following services:</b>
		<br>
		•Triage Nurse
		<br>
		•Illness and Injury Care
		<br>
		•Walk-in/Same Day Care
		<br>
		•Physical Exams
		<br>
		•Immunizations & Flu Shots
		<br>
		•Prescription Management
		<br>
		•Nutritional Counseling
		<br>
		•Contraception Counseling
		<br>
		•Lab Testing
		<br>
		•Prescriptions & Over-the-Counter Medications
		<br>
		•Health & Wellness Advice including:
		(Tobacco Use/Cessation,
		Alcohol Use,
		Nutrition & Body Image,
		Sexual Health,
		Stress Management,
		Substance Use/Abuse Issues,
		Transition Issues)
 

   </div>
   </div>
   </div>
