<%= provide(:title, 'Steps to Referring Students') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>Steps to Referring Students</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
<p>
    <b><i> </i></b>
</p>
<p>
    <b><i>What to do:</i></b>
</p>
<p>
    Your first step in expressing concern is to set aside a time and a private place to talk to the student. It is helpful to approach the student as an
    interested, concerned human being rather than as an authority figure who knows what is best for the student.
</p>
<p>
    Begin by describing the specific behaviors that have raised your concern. Avoid global statements such as, "You've been acting strange lately." Such
    statements give the student no real information and may lead him or her to feel judged, self-conscious, or defensive.
</p>
<p>
    If, after describing the behaviors that concern you, the student does not seem willing to talk, you may want to:
</p>
<p>
    • tell the student about the services available at Counseling and Psychological Services and how to use them,
</p>
<p>
    • contact Counseling and Psychological Services and ask for advice about how to proceed.
</p>
<p>
    Make it clear to the student that you can be available if the student changes his or her mind and wants to talk at a later time.
</p>
<p>
    When you are referring students for professional counseling, you should be prepared for resistance. Students sometimes feel they should be able to work
    things out on their own, and they may react as though you are implying that they are "crazy" or "sick" if you suggest counseling. Your approach to the
    student and your personal attitude about counseling are very important at this point. It will help if you are familiar with the services of Counseling and
    Psychological Services and can comfortably describe them.
</p>
<p>
    If a student is in crisis, you may want to accompany that student to Counseling and Psychological Services to be certain that the student receives the
    needed services. Under these circumstances, when possible, it is helpful to call ahead to let us know that you are bringing a student to Counseling and
    Psychological Services for immediate walk-in services.
</p>
<p>
    Indications that it would be best to refer the student to counseling services include:
</p>
<p>
    • You don’t know how to help the student
</p>
<p>
    • You feel that the student’s circumstances are overwhelming
</p>
<p>
    • You feel unable to provide all the support the student needs
</p>
<p>
    • You feel you have reached your limit or exhausted your ideas on how to help
</p>
<p>
    • The student’s struggles leave you feeling helpless and anxious
</p>
<p>
    • You feel angry towards or intimidated by the student
</p>
<p>
    • You are spending inordinate amounts of time on the student’s problems
</p>
<p>
    Clinicians at Counseling and Psychological Services are happy to consult with you at any point about your concerns regarding a student.
</p>
<p align="center">
    <b>University of California, Merced </b>
    <b>• </b>
    <b>
        Counseling &amp; Psychological Services
        <br/>
    </b>
    P.O. Box 2039
    <br/>
    H. Rajender Reddy Health Center
    <br/>
    Joseph Edward Gallo Recreation &amp; Wellness Center, 2nd Floor
    <br/>
    Merced, CA 95344
    <br/>
    209.228.4266 • <a href="mailto:counseling@ucmerced.edu">counseling@ucmerced.edu</a>
</p>
             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
