<%= provide(:title, 'Services') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campus-2000.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>Services</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <b>Appointments</b>
            <p>
            To make an appointment with a counselor please stop by Counseling & Psychological Services located in the H. Rajender Reddy Health Center on the first floor of the Joseph Edward Gallo Recreation & Wellness Center. You can also contact Counseling & Psychological Services at 209-228-4266 to schedule an appointment. Counseling & Psychological Services is open from 8:00 a.m. to 5:00 p.m. Monday through Friday, excluding weekends and holidays.  
             </p>
             <br>
            <b>Eligibility For Services</b>
            <p>
            All currently registered undergraduate and graduate students at the University of California, Merced are eligible to utilize on-campus counseling services free of charge. The service you receive is based upon a determination of your therapeutic goals and Counseling Services resources. If Counseling & Psychological Services is unable to meet your therapeutic needs, referral resources will be identified for you.
             </p>
             <br>
            <b>Individual</b>
            <p>
            Counseling & Psychological Services provides free, confidential, short-term therapy to registered UC Merced students. The initial appointment will help clarify your needs and direct you to appropriate services. If short-term individual counseling is recommended, an appointment will be made with a staff member as soon as possible.
             </p>
             <br>
            <b>Couples</b>
            <p>
            Relationship difficulties can be a major source of stress and academic disruption for students. Counseling & Psychological Services provides brief couples counseling for any students that are registered at the university.
             </p>
             <br>
            <b>Group</b>
            <p>
            Counseling groups typically meet once per week for anywhere between 6 and 10 weeks, with each session lasting approximately 1.5 hours. Most counseling groups are structured around a particular topic or area of concern (e.g., stress management or body image), although some counseling groups are more process oriented to allow students a greater opportunity to connect, encourage, and support one another. It is necessary for each potential group member to undergo a group screen with the group leader to assure that a particular group is appropriate for you and to adequately prepare you for the group counseling experience. Please stop by or phone Counseling & Psychological Services if you are interested in group counseling.
             </p>
             <br>
            <b>Consultation</b>
            <p>
            Counseling & Psychological Services staff provides telephone and in-person consultation to students, staff, faculty, and parents who are concerned about the welfare of students, who wish information about how to make a referral, or who would like to discuss or learn about psychologically related situations or material.
             </p>
             <br>
            <b>Crisis Intervention</b>
            <p>
            Counseling & Psychological Services operates on an appointment basis only but will make exceptions for crisis situations that require immediate student assessment and intervention. This service is only available during the normal operating hours of Monday through Friday between 8:00 a.m. and 5:00 p.m. After hours, please call our main number at (209)228-4266. We have partnered with ProtoCall, Inc to provide after hours emergency clinical services. ProtoCall, Inc. provides 24-hour Intake and Assessment, Crisis Response and Triage Services to the UC Merced Campus Community. ProtoCall’s services enable students to speak directly with a counselor in a timely fashion, who is able to provide immediate support regarding a variety of issues, from academic and environmental stressors, mental health issues, alcohol and drug related concerns and help students access services with their campus counseling office. By calling (209)228-4266 the Counseling & Psychological Services Center number you may access this service. A UC Merced professional counselor will follow-up with you the following business day.
             </p>
             <br>
            <b>Outreach</b>
            <p>
            Counseling & Psychological Services offers professional presentations and workshops spanning a range of topics for students, faculty, and/or staff. We will conduct outreach activities in a variety of settings and formats. We request that outreach services be requested two weeks in advance in order for us provide a high quality product.
             </p>
             <br>


          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
