<%= provide(:title, 'Seven Dimensions of Wellness') %>
<style>
.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}

.panel-heading {background-color: #002855!important}
.panel-heading h3 {color: #FFFFFF;}
.featurette {

 background-image: url('../assets/flowersss.jpg');

}
.featurette .background-image{
    opacity: .5;
}
</style>

<div class="featurette">
<img class="featurette-image"> <!--this removes blue top space-->
 <h2 class="featurette-heading">Seven Dimensions of Wellness - <span class="muted">Maintaining Wellness</span></h2>  
<img class='img-responsive' img alt="landscape" border="0" src="../assets/landscapenew.jpg" title="landscape" />
    <div class="panel panel-default">
        <div class="panel-heading">
         <h3> <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b> Emotional Wellness </b> </h3>
        </div>
        <!-- /.panel-heading -->

        <div class="panel-body">
        <b>Being emotionally well is typically defined as possessing the ability to feel and express human emotions such as happiness, sadness and anger.
        </b>
        <br><br>

        <ul>
        <li>Cope effectively with stress</li>
        <li>Develop awareness of personal feelings & feelings of others</li>
        <li>Think positively about self and others</li>
        <li>Make decisions by integrating feelings, thoughts, behaviors, values and desires</li>
        <li>Form healthy relationships with others</li>
        <li>Realistically assess personal strengths and limitations, enjoy challenges and recognize conflict as a potential sources of growth</li>
        </uL>

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
         <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /> <b> Intellectual Wellness </b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        <b>The intellectual dimension encourages creative, stimulating mental activities.  People who posses a high level of intellectual wellness have an active mind and continue to learn.
        </b>
        <br><br>

        <ul>
        <li>Challenge self to use intellectual abilities</li>
        <li>Encourage creative mental activity</li>
        <li>Expand knowledge of self and world</li>
        <li>Avoid idle thoughts and boredom</li>
        </uL>

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->


        <div class="panel panel-default">
        <div class="panel-heading">
         <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b> Occupational Wellness</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        <b>Occupational wellness involves preparing and making use of your gifts, skills and talents in order to gain purpose, happiness, and enrichment in your life.
        </b>
        <br><br>

        <ul>
        <li>Develop and understanding of personal values and lifestyle preferences</li>
        <li>Carefully investigate occupational choices that support personal values and lifestyle preferences</li>
        <li>Develop a realistic strategy for attaining occupational goals</li>
        </uL>

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->



<div class="panel panel-default">
        <div class="panel-heading">
         <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /> <b> Physical Wellnesss</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        <b>Physical wellness encompasses a variety of health behaviors including adequate exercise, proper nutrition, and abstaining from harmful habits such as drug and alcohol abuse.
        </b>
        <br><br>

        <ul>
        <li>Take initiative to reduce risk of chronic disease and prevent injury</li>
        <li>Be active and informed regarding to personal health care decisions</li>
        <li>Follow comprehensive fitness routine, including cardiovascular, strength, and flexibility training</li>
        <li>Make healthy nutritional choices</li>
        <li>Make health choices regarding use of drugs and alcohol</li>
        </uL>


        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->


<div class="panel panel-default">
        <div class="panel-heading">
         <h3>  <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b> Social Wellnesss</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        <b>Social wellness refers to our ability to interact successfully in our global community and to live up to the expectations and demands of our personal roles.
        </b>
        <br><br>

        <ul>
        <li>Maintain meaningful relationships with others</li>
        <li>Adapt to various social situations</li>
        <li>Contribute to welfare of the community</li>
        </uL>

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

<div class="panel panel-default">
        <div class="panel-heading">
         <h3>  <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b> Spiritual Wellnesss</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        <b>Spiritual wellness involves possessing a set of guiding beliefs, principles, or values that help give direction to one’s life.
        </b>
        <br><br>

        <ul>
        <li>Establish personal ethics, values, and code for living</li>
        <li>Integrate personal beliefs and values with actions</li>
        <li>Develop a sense of purpose and meaning to life</li>
        <li>Experience love, joy, and fulfillment</li>
        </uL>

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

<div class="panel panel-default">
        <div class="panel-heading">
         <h3>  <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /> <b> Environmental Wellness</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        <b>Environmental wellness is an awareness of the unstable state of the earth and the effects of your daily habits on the physical environment.  It consists of maintaining a way of life that maximizes harmony with the earth and minimizes harm to the environment.
        </b>
        <br><br>

        <ul>
        <li>Develop and appreciation for the external environment and the role individuals play in preserving and improving environmental conditions</li>
        <li>Take personal and social responsibility for creating sustainable communities</li>
        <li>Encourage minimizing disposable products</li>
        <li>Evaluate purchases and conveniences based on their environmental impacts</li>
        </uL>

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
<br><br><br>

