<%= provide(:title, 'Student Distress') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>Recognizing Students in Distress</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
<p>
    As members of the campus community, faculty and staff are likely to encounter distressed students in the course of their daily work and can play a crucial
    role in identifying and responding to these students. Tragic events in recent years on school campuses have heightened our awareness that we need to
    recognize warning signs of students in distress.
</p>
<p>
    <b><i>Marked Changes in Academic Performance or Behavior</i></b>
</p>
<p>
    Be alert to a student’s poor performance and preparation when it is markedly inconsistent with previous work, repeated requests for special consideration
    (e.g., incompletes, late papers), or infrequent class attendance with little or no work completed. A student who engages in disruptive behavior
    consistently derailing classroom activities or lectures is of great concern. A student’s aggressive and angry domination of classroom discussions should be
    similarly concerning.
</p>
<p>
    <b><i>Physical Signs</i></b>
</p>
<p>
    Students in crisis frequently experience a marked decline in personal hygiene. Notice students with a consistent disheveled or fatigued appearance,
    consistent lethargy, listlessness and lack of energy, or swollen or red eyes. Students in crisis frequently experience dramatic weight loss or gain.
</p>
<p>
    <b><i>Social Withdrawal</i></b>
</p>
<p>
    Because of the powerful protective effect of a strong social support network, a student’s withdrawal from peers, friends and family is often a red flag
    signaling a decline in overall functioning. A student’s avoidance of social interaction in general or a sudden marked reduction in class participation are
    often a sign of distress as well.
</p>
<p>
    <b><i>Strange Behaviors and Impaired Thinking</i></b>
</p>
<p>
    Students in serious crisis may engage in bizarre or strange behaviors that are obviously inappropriate to the situation. Incoherent or confused speech or
    delusional thinking suggesting a loss of contact with reality, and paranoia or suspiciousness are symptoms deserving immediate attention and referral for a
    diagnostic assessment. Agitation, noticeable restlessness, hyperactivity, or unusually rapid speech are distinct behavioral signs of anxiety potentially
    requiring intervention. A marked impairment of attention and memory is a common sign of distress as well.
</p>
<p>
    <b><i>Exaggerated Emotional Responses</i></b>
</p>
<p>
    Intense anxiety, extreme irritability and anger, prolonged depressed mood, and/or frequent tearfulness and crying spells are all clear signs of emotional
    distress. The
    <br/>
    excessive use of alcohol, the frequent use of illicit drugs and/or the abuse or misuse of prescription medications are typically signs deserving a prompt
    referral for assessment and intervention.
</p>
<p>
    <b><i>Threatening Statements and Behaviors</i></b>
</p>
<p>
    Students in crisis frequently express helplessness or hopelessness, including references to suicide, giving away prized possessions, and “settling
    accounts” with finality. Disturbing or morbid themes consistently present in verbal or written work are frequently a sign of underlying emotional distress.
    Less frequent, but equally alarming, are students’ references to homicide, death, or threats to harm others. Students in crisis may engage in violence
    committed against objects, animals or people. Stalking behaviors and threatening or accusatory statements embedded in e-mails, text messages, letters or
    phone calls signal an acute crisis and require an immediate response.
</p>
<p align="center">
    <b><i>Referring a Student in Crisis to Counseling and Psychological Services</i></b>
</p>
<p>
    UC Merced’s Counseling and Psychological Services are available for immediate referrals, in-person appointments and phone consultations weekdays from 8:00
    a.m. to 5:00 p.m. When a student is in crisis, faculty and staff often accompany that student to Counseling and Psychological Services located in the H.
    Rajender Reddy Health Center on the first floor of the Joseph Edward Gallo Recreation and Wellness Center to be certain that the student receives the
    needed services. Under these circumstances, when possible, it is helpful to call ahead to let us know that you are bringing a student to Counseling and
    Psychological Services for immediate walk-in services.
</p>
<p>
    We encourage members of our campus community to contact Counseling and Psychological Services at 209-228-4266 to consult with a staff clinician regarding
    the referral process for the array of services we offer. You can utilize our website for help in describing concerning symptoms and for tips on how to
    identify and refer a distressed student. Counseling and Psychological Services staff emphasize the value of early intervention and prevention. We look
    forward to working with you in promoting a safe learning environment supporting students’ intellectual, social, physical and emotional development.
</p>
<p align="center">
    <b>University of California, Merced </b>
    <b>• </b>
    <b>
        Counseling &amp; Psychological Services
        <br/>
    </b>
    P.O. Box 2039
    <br/>
    H. Rajender Reddy Health Center
    <br/>
    Joseph Edward Gallo Recreation &amp; Wellness Center, 2nd Floor
    <br/>
    Merced, CA 95344
    <br/>
    209.228.4266 • <a href="mailto:counseling@ucmerced.edu">counseling@ucmerced.edu</a>
    <a href="file://localhost/javascript/void(0)%3B:*1225490278937*:">
        <br/>
    </a>
</p>
             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
