<%= provide(:title, 'Travel Clinic') %>

<style>
#area1{
background: url('../assets/flowers.jpg'); 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: -100px 0;
}


.area2 h2, .area2 p{
  color:#000000;
}


#area3{
background: url('../assets/tree.jpg');50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}


  .area3 .span8 {
    margin-right: 40px;
    margin-left: 40px;
    }

.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}
h2 {color:#FFFFFF;
}
p {color:#FFFFFF;}
</style>



   <div class="row">
    <div class="col-lg-12">
     <div class="area2">      
      <div class="featurette">
         <h2 class="featurette-heading"> <span class="muted">Travel Clinic</span></h2>
        <br>
        <p class="lead">
        Planning a trip to a developing country?  Need information, medications or vaccinations for an upcoming trip?  The Health Center provides the Travel Clinic as a service to all registered students.  The fee is $25 fee for the visit.
        <br><br>
        A Travel Clinic visit will provide you with:
        <br><br>
        • Detailed travel health information including risks for infection based on your itinerary and planned activities while abroad.
        <br>
        • Brief review of medical history and recommended precautions and preventative measures based on your health.
        <br>
        • Review of vaccination history.  Required and recommended vaccinations will be discussed.
        <br>
        • Prescriptions wil be reviewed that are recommended travel medications.
        <br><br>
        Once you have decided on your destination(s), you should:
        <br><br>
        • Research online at <a href="http://www.cdc.gov/travel/">www.cdc.gov/travel/</a> or at <a href="http://www.mdtravelhealth.com">www.mdtravelhealth.com</a> for more information about your trip.
        <br>
        • Retrieve your vaccination records.  Bring your vaccine records to your Travel appointment.
        <br>
        • Schedule a Travel appointment at the Health Center.  It is recommended that you schedule your appointment at least 4 weeks in advance of your departure.
        <br><br>
        You can schedule a Travel Clinic appointment via phone or in person.  You can schedule an appointment via phone by calling (209) 228-2273.
        <br><br>
        Note to EAP Students:
        <br><br>
        • If your travel visit is due to an EAP requirement, please be advised you must attend a Travel Clinic visit and have your EAP Travel Medicine Certificate signed by a Health Center provider at that visit.  You may choose to have your required or recommended vaccinations at a place of your choosing.  The cost of vaccinations at the Health Center can be found on our <a><%= link_to "Fee Schedule", payments_path %></a>.
        <br>
        • <b>The UCOP EAP Travel Education course must be completed before your Travel Clinic visit.  The online course can be found at the </b> <a href="https://myeap.eap.ucop.edu/travelhealth/safari3/index.html?dhtmlActivation=inplace">UCOP EAP web site</a>.
        <br>
        • EAP Travel Instructions.
        <br>
        • Information on the required <a href="/insurancebrochure.pdf" target="_blank">EAP Travel Insurance (PDF)</a>.


        </p>
      </div>

</div>
</div>
</div>
            

