<%= provide(:title, 'Waiver') %>
<!-- Custom styles for this template -->

     
<link href="../assets/plugins/timeline/timeline.css" rel="stylesheet">

<style>


.area2 h2, .area2 p{
  color:#000000;
}


.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}
h2 {color:#FFFFFF;}
p {color:#FFFFFF;}
</style>



<div class="area2">
      <div class="featurette">
        <img class="featurette-image">
        <div class="span12">
        <h2 class="featurette-heading"> <span class="muted">2014-15 Waiver Application</span></h2>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Waiver Application Timeline
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline lead">
                                <li>
                                    <div class="timeline-badge"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Waiver Application Period Opens - Prepare</h4>
                                            <p>
                                                <small class="text-muted"><i class="fa fa-time"></i>June 1, 2014 for new freshmen and transfer students <br> May 1, 2014 for returning students
                                                </small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Please complete the <a href="/waiverworksheet.pdf" target="_blank"> Waiver Criteria Worksheet (PDF)</a> and review the <a href="/glossary.pdf" target="_blank"> Glossary of Medical Insurance Terminology (PDF) </a> to ensure you have all the information you need prior to starting the process.  You will only have 15-20 minutes to complete the application online.  If information is incomplete or inaccurate, your waiver will be denied.  A confirmation email will be sent to your UC Merced email account when you successfully submit an application.</p>
                                        </div>
                                    </div>
                                </li>
                                 <li class="timeline-inverted">
                                    <div class="timeline-badge success"><i class="fa fa-thumbs-up"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Consult Resources And Ask Questions</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <img src="../assets/rufusInsurance.jpg" alt="User Avatar" class="img-circle" />
                                            <p>Consult the material below the timeline. <br> Call us with any additional questions at 209-228-2273. <br> Send us an e-mail at <a href="mailto:insurance@ucmerced.edu" target="_blank"> insurance@ucmerced.edu </a></p>
                                            <hr>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge warning"><i class="fa fa-pencil-square-o"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Complete Your Health Waiver</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>After you have completed the worksheet, visit the <a href="https://my.ucmerced.edu/" target="_blank"> online Waiver Application page </a> on the UC Merced web portal to complete your online waiver application.<b>Your Waiver Application must be filed online by 11:59 pm on Wednesday, August 13, 2014 to avoid a late waiver fee of $50.</b> Late Waiver Applications are manually processed through the Insurance Office from Thursday, August 14, 2014 through 12 Noon on Friday, August 22, 2014 and are subject to a late fee of $50. A paper Late Waiver Application is only available at the Student Health Insurance Office after the late waiver fee is paid. </p>

                                        </div>
                                    </div>
                                </li>
                               </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->



        <p class="lead">

        The 2014-15 Waiver Application period opens:
        <br><br>
        -May 1, 2014 for returning students
        <br>
        -June 1, 2014 for new freshmen and transfer students
        <br><br>
        NOTE:  The 2014-15 UC systemwide waiver criteria has changed to coincide with the federal Affordable Care Act.  Some returning students who may have had an approved waiver in previous years may not qualify for a waiver in 2014-15.  Please direct any questions to our Insurance Coordinator.
        <br><br>
        The 2014-15 Waiver Application period opens Thursday, May 1, 2014 for returning students and Saturday, June 1, 2014 for new freshmen and transfer students. <b> Your Waiver Application must be filed online by 11:59 pm on Wednesday, August 13, 2014 to avoid a late waiver fee of $50. </b> Late Waiver Applications are manually processed through the Insurance Office from Thursday, August 14, 2014 through 12 Noon on Friday, August 22, 2014 and are subject to a late fee of $50.  A paper Late Waiver Application is only available at the Student Health Insurance Office after the late waiver fee is paid.
        <br><br>
        Absolutely no late Waivers Applications will be accepted after 12 Noon on Friday, August 22, 2014.
        <br><br>
        Students only have to file a waiver application once each academic year.
        <br><br>
        If you have decided to waive UC SHIP, you will need to read the important information below.  If you have decided to enroll in UC SHIP, you do not need to do anything.  Enrollment in UC SHIP is automatic when you pay your fees.
        <br><br>
        Our online waiver application is administered by Wells Fargo Insurance Services on behalf of the University.
        <br><br>
        To complete the UC SHIP Waiver Application you will need an active UCMNet ID and password and benefit details about your health insurance plan, including the company name, phone number, group number and your UCM student identification number.
        <br><br>
        Please complete the <a href="/waiverworksheet.pdf" target="_blank"> Waiver Criteria Worksheet (PDF)</a> and review the <a href="/glossary.pdf" target="_blank"> Glossary of Medical Insurance Terminology (PDF) </a> to ensure you have all the information you need prior to starting the process.  You will only have 15-20 minutes to complete the application online.  If information is incomplete or inaccurate, your waiver will be denied.  A confirmation email will be sent to your UC Merced email account when you successfully submit an application.
        <br><br>
        After you have completed the worksheet, visit the <a href="https://my.ucmerced.edu/" target="_blank"> online Waiver Application page </a> on the UC Merced web portal to complete your online waiver application.
        <br><br>
        If your waiver is denied, please follow the instructions on the denial page.
        </p>
   </div>
   </div>
   </div>
