<%= provide(:title, 'What To Expect') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>What To Expect</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
<p>
    Here is a general idea of some things to expect at your first visit to CAPS:
</p>
<p>
        • To be approximately 30 minutes early
</p>
<p>
        • To be greeted by one of our administrative staff
</p>

<p>
    • To be provided a Client Information Form to complete
</p>
<p>
    • To be given Informed Consent as well as a Confidentiality statement
</p>
<p>
    • To be seen for a 30 minute consultation by one of the CAPS clinicians
</p>
<p>
    • To provide information about your current issues and a brief history
</p>
<p>
    • To be provided recommendations for services by the CAPS clinician
</p>
<p>
  <b>  Do Not Expect… </b>
</p>
<p>
        • To lie on a couch
</p>
<p>
    • That the first session is typical of therapy. It is meant to collect information in order to refer you to the appropriate treatment modality.
</p>
<p>
    • To feel better immediately. You are coming in for a reason and like any health issue it takes time for treatment to work.
</p>
<p>
    • To just sit there. Mental health treatment is a collaborative process built on your identified goals.
</p>
             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
