<%= provide(:title, 'Womens Health') %>
<!-- Custom styles for this template -->

     

<style>
#area1{
background: url('../assets/flowers.jpg'); 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: -100px 0;
}



.area2 h2, .area2 p{
  color:#000000;
}


#area3{
background: url('../assets/tree.jpg');50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}


  .area3 .span8 {
    margin-right: 40px;
    margin-left: 40px;
    }

.muted{font-size:30px;font-weight:600;letter-spacing:2px;text-transform:uppercase;  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;color:#03ae6f}
h2 {color:#FFFFFF;
}
p {color:#FFFFFF;}
</style>



<div class="area2">
      <div class="featurette">
        <img class="featurette-image">
        <div class="span12">
        <h2 class="featurette-heading"> <span class="muted">Women's Health</span></h2>
        <p class="lead">
     Student Health Services provides routine care to meet the health care needs of women.  Services include: routine pelvic and breast exams, Pap smears, diagnosis and treatment of vaginal infections and sexually transmitted infections, counseling and prescriptions for contraception, emergency contraception, pregnancy testing and counseling, and specialist referrals.  All services are provided in a confidential, non-judgmental atmosphere.


     <h3>Women's Health on the Web</h3>    


         <table class="lead table table-striped table-bordered table-condensed table-hover">
         <thead>
          <tr> 
              <th>Resource</th>
              <th>Links</th>
          </tr>
          </thead>


        <tr>
          <td>Contraception Options</td>
          <td>
          <a href="/birthcontrol.pdf" target="_blank"> Birth Control Method (PDF)</a><br>
          <a href="http://www.plannedparenthood.org/health-info/birth-control " target="_blank"> http://www.plannedparenthood.org/health-info/birth-control </a> <br>
          <a href="http://www.arhp.org/methodmatch/" target="_blank"> http://www.arhp.org/methodmatch/</a> <br>
          <a href="http://bedsider.org/" target="_blank"> http://bedsider.org/</a>
          </td>

        </tr>
        <tr>
          <td>LGBTQ Health</td>
          <td>
          <a href="http://www.lesbianhealthinfo.org/" target="_blank"> http://www.lesbianhealthinfo.org/</a><br>
          <a href="http://depts.washington.edu/wswstd/index.html" target="_blank"> http://depts.washington.edu/wswstd/index.html</a><br>
          <a href="http://www.gmhc.org/" target="_blank"> http://www.gmhc.org/</a><br>
          <a href="http://www.cdc.gov/lgbthealth/women.htm" target="_blank"> http://www.cdc.gov/lgbthealth/women.htm</a><br>
          <a href="http://www.fenwayhealth.org/" target="_blank"> http://www.fenwayhealth.org/</a><br>
          <a href="http://www.youthresource.org/" target="_blank"> http://www.youthresource.org/</a><br>
          <a href="http://www.glnh.org/index.php" target="_blank"> http://www.glnh.org/index.php</a><br>
        </td>
        </tr>
        <tr>
          <td>General Women's Health</td>
          <td>
          <a href="http://www.womenshealth.gov/" target="_blank">http://www.womenshealth.gov/</a><br>
          <a href="http://4collegewomen.org/" target="_blank">http://4collegewomen.org/</a><br>
          </td>
        </tr>
        <tr>
          <td>Sexual Health</td>
          <td>
          <a href="http://thenationalcampaign.org/" target="_blank">http://thenationalcampaign.org/</a><br>
          <a href="http://www.ashasexualhealth.org/" target="_blank">http://www.ashasexualhealth.org/</a><br>
          </td>
        </tr>
        <tr>
          <td>Eating Disorders</td>
          <td>
          <a href="http://www.nationaleatingdisorders.org/" target="_blank">http://www.nationaleatingdisorders.org/</a><br>
          <a href="http://www.nimh.nih.gov/health/publications/eating-disorders/index.shtml" target="_blank">http://www.nimh.nih.gov/health/publications/eating-disorders/index.shtml</a><br>
          <a href="http://www.anad.org/" target="_blank">http://www.anad.org/</a><br>
          </td>
        </tr>
        <tr>
          <td>Mental Health</td>
          <td>
          <a href="http://www.nami.org/" target="_blank">http://www.nami.org/</a><br>
          <a href="http://www.ulifeline.org/ucmerced/" target="_blank">http://www.ulifeline.org/ucmerced/</a><br>
          </td>
        </tr>
        <tr>
          <td>Sexually Transmitted Diseases</td>
          <td>
          <a href="http://www.cdc.gov/STD/" target="_blank">http://www.cdc.gov/STD/</a><br>
          </td>
        </tr>
      </table>

 <p class="lead">
      <b> Frequently Asked Questions:  Women’s Health </b>
      <br><br>
      <b> Pap Tests </b>
      <br><br>
      The Pap test or Pap smear looks for cancers and precancers in the cervix (the lower part of the uterus that opens into the vagina).  Precancers are cell changes that might become cancer if they are not treated the right way.  Most health insurance plans cover Pap tests or cervical screening tests. 
      <br><br>

      <!--temporarily removed 
      <a href="#whatis"> 
      Q:  What is a Pap test?
      </a><br>
      <a href="#doall">
      Q:  Do all women need Pap tests?
      </a><br>
      <a href="#howoften">
      Q:  How often do I need to get a Pap test?
      </a><br>
      <a href="#abnormal">
      Q:  My Pap test was “abnormal”.  What happens now?
      </a><br>
      <a href="#howis">
      Q:  How is a Pap test done?
      </a><br>
      <a href="#hpv">
      Q:  What is human papillomavirus (HPV)?
      </a><br>
      <br>
      -->
      <a name="whatis"></a><b>
      Q:  What is a Pap test?</a>
      </b><br><br>
      <b> A: </b> A pap test checks the cervix for abnormal cell changes.  Cell changes can develop on the cervix and, if not found and treated, can lead to cervical cancer.  Cervical cancer can almost always be prevented, and having regular Pap tests is the key.
      <br><br>
      <a name="doall"></a><b>
      Q:  How is a Pap test done?
      </b> <br><br>
      <b> A: </b> A Pap test is done during your well woman exam.  Your doctor can do a Pap test during a pelvic exam.  It is a simple and quick test.  You will lie down on an exam table.  Your doctor will put an instrument called a speculum into your vagina and will open it to see your cervix.   With the speculum in place the doctor uses a small brush to take a sample of cells from the cervix.  A Pap test may be mildly uncomfortable, but should not be painful.  A Pap test is not indicated at every well woman exam.
      <br><br>
      <b>Q: Do all women need Pap tests? </b>
      </b> <br><br>
      <b> A: </b> Most women ages 21 to 65 should get Pap tests as part of routine health care.  Women who do not have a cervix (usually because of a hysterectomy), and who also do not have a history of cervical cancer or abnormal Pap results, do not need Pap tests.  Women ages 65 and older who have had three normal Pap tests in a row and no abnormal test results in the last 10 years do not need Pap tests.
      <br><br>
      <a name="applywaiver"></a><b>
      Q:  How often do I need to get a Pap test?
      </b><br><br>
      <b> A: </b>  Talk with your doctor about what is best for you. Most women can follow these guidelines:
      <br>
      • If you are between ages 21 and 29, you should get a Pap test every 3 years.  
      <br>
      • If you are between ages 30 and 64, you should get a Pap test and human papillomavirus (HPV) test together every 5 years or a Pap test alone every 3 years.
      <br>
      • If you are 65 or older, ask your doctor if you can stop having Pap tests.
      <br>
      <br>
      You should talk to your doctor about getting a Pap test more often if:
      <br>
      <br>
      • You have had treatment for abnormal Pap results or cervical cancer in the past.
      <br>
      • Your mother was exposed to diesthylstilbestrol (DES) while pregnant.
      <br>
      • You have a weakened immune system because of organ transplant, chemotherapy, or steroid use 
      <br>
      • You are HIV positive
      <br><br>
      <a name="abnormal"></a><b>
      Q:  My Pap test was “abnormal”.  What happens now?
      </b><br><br>
      <b> A: </b>  An abnormal result does not mean you have HPV or cervical cancer.  Other reasons for an abnormal Pap test results include:
      <br><br>
      • Yeast infections
      <br>
      • Irritation
      <br>
      • Hormone changes
      <br><br>
      If results of the Pap test are unclear or show a small change in the cells of the cervix, your doctor may repeat the Pap test immediately, in 6 months or a year, or run more tests.  In some cases referral to a specialist for further examination of the cervix by colposcopy is necessary.  Colposcopy is a careful examination of the entire cervix under microscopic magnification.  If you have abnormal results, talk with your doctor about what they mean, and what recommendations and follow up are planned.
      <br><br>
      <a name="hpv"></a><b>
      Q:  Confused or have more questions?
      </b><br><br>
      <b> A: </b> If you have more questions, please talk to our nurse or your clinician.  You can schedule an appointment at 228-2273 or speak to the advice nurse by calling 228-4192.
      <br><br>
      <hr class="featurette-divider">

 <p class="lead">
      <b>Cervical Cancer </b>
      <br><br>
      Cervical cancer is cancer that starts in the cervix, the lower, narrow part of the uterus.  Most cervical cancers are caused by the human papillomavirus (HPV).  Cervical cancer is the easiest gynecological cancer to prevent with regular Pap screening tests and HPV vaccination.  It is also very curable when found and treated early.
      <br><br>

      <b>Q:  Who gets cervical cancer?</b>
      <br><br>
      <b> A: </b> Each year about 12,000 women in the United States get cervical cancer.  Cervical cancer happens most often in women 30 years or older, but all women are at risk.  
      <br><br>

      <b>Q: What causes cervical cancer?</b>
      <br><br>
      <b> A: </b> Most cases of cervical cancer are caused by a high-risk type of HPV.  HPV is a virus that is passed from person to person through genital contact, such as vaginal, anal, or oral sex.  If the HPV infection does not go away on its own, it may cause cervical cancer over time.  Other things may increase the risk of developing cancer following a high-risk HPV infection.  These include:
      <br><br>
      • Smoking
      <br>
      • HIV or reduced immunity
      <br>
      • Early onset of sexual activity
      <br>
      • Multiple sexual partners
      <br>
      • High risk sexual partner
      <br>
      • History of sexually transmitted infections
      <br>
      • Long term use of oral contraceptives
      <br><br>


      <b>Q: What are the symptoms of cervical cancer?</b>
      <br><br>
      <b> A: </b> You may not notice any signs or symptoms of cervical cancer.  Signs of advanced cervical cancer may include bleeding or discharge from the vagina.  These symptoms may not be caused by cervical cancer, but the only way to be sure is to see your doctor.
      <br><br>

      <b>How do I find out if I have cervical cancer?</b>
      <br><br>
      <b> A: </b> Women should start getting screened at age 21.  You can get a Pap test to look for changes in cervical cells that could become cancerous if not treated.  If the Pap test finds major changes in the cells of the cervix your doctor may suggest more tests to look for cancer.  If you are between 30 and 65 years old, you will also get an HPV test with your Pap test to see if you have high-risk HPV.
      <br><br>


      <b>Q: What can I do to prevent cervical cancer?</b>
      <br><br>
      <b> A: </b> You can lower your risk of getting cervical cancer with the following steps:
      <br><br>
      • Get an HPV vaccine if you are 26 or younger.  
      <br>
      • Get regular Pap tests starting at age 21.
      <br>
      • Use condoms.  The best way to prevent any sexually transmitted infection (STI), including HPV, is to not have vaginal, oral, or anal sex.  If you do have vaginal, anal, or oral sex, protect yourself with a condom every time.  Research shows that condom use can lower your risk of getting HPV when used correctly and every time you have vaginal, anal or oral sex.
      <br>
      • Be monogamous.  Having sex with just one partner can lower your risk.
      <br><br>

      <b>Do you still have questions about cervical cancer or need to schedule a Pap test?</b>
      <br><br>
      <b> A: </b> Call student health services and speak with our advice nurse at 228-4192 or schedule an appointment at 228-2273.
      <br><br>

      <hr class="featurette-divider">

 <p class="lead">

 <b> Human Papillomavirus (HPV) and Genital Warts </b>
      <br><br>
      <b>Q: What is human papillomavirus (HPV)?</b>
      <br><br>
      <b> A: </b> Human papillomavirus or HPV, is the name for a group of viruses that includes more than 100 types.  More than 40 types of HPV can be passed through sexual contact.  Over half of sexually active people will have HPV at some point in their lives, but most people never know it.  This is because HPV most often has no symptoms and goes away on its own.
      <br><br>


      <b>Q: How many people have HPV?</b>
      <br><br>
      <b> A: </b> Genital HPV is the most common sexually transmitted infection (STI) in the United States.  About 20 million Americans ages 15 to 49 currently have HPV.  And at least half of all sexually active men and women get genital HPV at some time in their lives.
      <br><br>


      <b>Q: What is the difference between the high-risk and low-risk types of HPV?</b>
      <br><br>
      <b> A: </b>Some types of HPV can cause cervical cancer.  These types of HPV are called high-risk.  Having high-risk HPV is not the same as having cervical cancer.  But high-risk HPV can lead to cancer.  Most often, high-risk HPV causes no health problems and goes away on its own.  High-risk HPV cases that don’t go away are the biggest risk factor for cervical cancer.  If you have high-risk HPV, your doctor can look for changes on your cervix during Pap tests.  Changes can be treated to try to prevent cervical cancer.  Be sure to have regular Pap tests so changes can be found early.
      <br><br>
      <b>Low-risk HPV </b> can cause genital warts.  Warts can form weeks, months or years after sexual contact with an infected person.  In women genital warts can grow:
      <br><br>
      • Inside and around the outside of the vagina
      <br>
      • On the vulva (outside area or opening to the vagina), cervix or groin
      <br>
      • In or around the anus
      <br><br>
      The size of genital warts varies.  They can be flat and flesh-colored or look bumpy like cauliflower.  They often form in clusters or groups.  They may itch, burn or cause discomfort.
      <br><br>
      Low-risk HPV doesn’t always cause warts.  In fact, most people with low-risk HPV never knw they are infected.  This is because they don’t get warts or any other symptoms.
      <br><br>

      <b>Q:  How do women get HPV?</b>
      <br><br>
      <b> A: </b> Genital HPV is passed by skin-to-skin and genital contact.  It is most often passed during vaginal and anal sex. Although much less common, it is possible to pass HPV during oral sex and hand to genital contact.
      <br><br>



      <b>Q: Should I get the HPV vaccine?</b>
      <br><br>
      <b> A: </b> It depends on your age.  Two vaccines Cervarix and Gardasil are available, both can protect girls and young women against the types of HPV that cause most cervical cancers.  The vaccines work best when given before a women’s first sexual contact, when she could be exposed to HPV.  The student health center has Gardasil vaccine available.  Gardasil is recommended for 11-12 year old girls, but can be given to girls as young as 9 and in women through age 26 who did not get any or all of the shots when they were younger.  These vaccines are given in a series of 3 shots.  The vaccine does not replace the need to use condoms to lower your risk of getting other strains of HPV or other sexually transmitted infections.  Women who have had the HPV vaccine still need to have regular Pap tests.
      <br><br>

      <b>Q: How do I know if I have an HPV infection?</b>
      <br><br>
      <b> A: </b> I:  Most women who have had HPV infections never know it.  This is one reason why you need regular Pap tests.  A Pap test can find changes on the cervix caused by HPV.  
        <br><br>
        If you are age 30 or older, your doctor will also do an HPV test with your Pap test.  This is a DNA test that detects most of the high-risk types of HPV.  It helps with cervical cancer screening.  If you’re younger than 30 years old and have had an abnormal Pap test result, your doctor may also order an HPV test.  The test will show if HPV caused the abnormal cells on your cervix.
        <br><br>
        One other way to tell if you have an HPV infection is if you have genital warts.  (See What is the difference between the high-risk and low-risk types of HPV for more details.)
      <br><br>



      <b>Q: Do I still need a Pap test if I got the HPV vaccine?</b>
      <br><br>
      <b> A: </b>Yes. There are three reasons why:
      <br><br>
      • The vaccine does not protect against all HPV types that cause cancer.
      <br>
      • Women who don’t get all the vaccine doses might not be fully protected.
      <br>
      • Women may not fully benefit from the vaccine if they got it after getting one or more of the four HPV types.
      <br><br>


      <b>Q:  Could I have HPV even if my Pap test was normal?</b>
      <br><br>
      <b> A: </b> Yes. You can have HPV but still have a normal Pap test.  Changes on your cervix may not show up right away; or they may never appear.  For women older than 30 who get an HPV test and a Pap test, a negative result on both the Pap and HPV tests means no cervical changes or HPV were found on the cervix.  This means you have a very low chance of getting cervical cancer in the next few years.
      <br><br>



      <b>Q: Can HPV be cured?</b>
      <br><br>
      <b> A: </b> No. There is no cure for the virus HPV.  But there are treatments for the changes HPV can cause on the cervix. Genital warts can also be treated.  Sometimes, the virus goes away on its own.
      <br><br>

      <b>Q: What about HPV in men?</b>
      <br><br>
      <b> A: </b> HPV is as common in men as in women.  HPV rarely causes severe health problems in men.  But it can lead to anal cancer in men who have sex with men.  There is no test for HPV in men.
      <br><br>

      <b>How do I protect myself from HPV?</b>
      <br><br>
      <b> A: </b>
      <br><br>
      • Consistent condom use.  Using condoms decreases the risk of getting genital warts and cervical cancer.   But condoms don’t always protect you from HPV. 
      <br> 
      • Get vaccinated with the HPV vaccine.  The vaccine offers protection against the HPV types (16 and 18) that cause 70% of cervical cancers.
      <br><br>

      <b>Q: Still have questions about HPV infection or need more information about the HPV vaccine?</b>
      <br><br>
      <b> A: </b> Call the student health center at 228-2273 to schedule a nursing appointment for immunization review or 228-4192 to speak with the advice nurse.
      <br><br>


      This information was adapted from the Office of Women’s Health <a href="http://www.womenshealth.gov" target="_blank">http://www.womenshealth.gov</a><br>
</p>
   </div>
   </div>
   </div>
