<style>
#footer {
    clear: both;
    background-color:  #326496 !important;
    margin: 0; padding: 0;
    width:100%;
}

#footer, #footer p {
	color: #FFFFFF; /* dark gray */
}
#footer, #footer a {
	color: #ECC143; /* dark gray */
}
#footer, #footer a:hover { color: #ff8500 !important; }


</style>

  <div id="footer">
            <!-- Our footer will always print out the current year for the copyright date. -->
      <p>
        UNIVERSITY OF CALIFORNIA, MERCED | 5200 NORTH LAKE RD. MERCED, CA 95343 | (209) 228-4400 | &copy; 2014 UC REGENTS
        <a href="mailto:gspurgeon@ucmerced.edu">SITE CONTACT</a>
        <a class="legal" href="http://www.ucmerced.edu/privacy-statement">PRIVACY/LEGAL NOTICE</a>
      </p>
		</div> <!-- /footer -->


<script src="../assets/bootstrap.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>