<!DOCTYPE html>
<html>
<head>
  <title>Counseling & Psychological Services</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Start Bootstrap - SB Admin Version 2.0 Demo</title>

    <!-- Core CSS - Include with every page -->
    <link href="../assets/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- MetisMenu CSS -->
    <link href="../assets/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->

    <!--
    <link href="../assets/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="../assets/plugins/timeline/timeline.css" rel="stylesheet">
    -->
    <!-- SB Admin CSS - Include with every page -->
    <link href="../assets/sb-admin.css" rel="stylesheet">

</head>


<body>

    <div id="wrapper">

<%= render 'layouts/header' %>

<%= render 'layouts/sidebar' %>

        <div id="page-wrapper">


                    <%= yield %>




    </div>
    <!-- /#wrapper -->


    <!-- Core Scripts - Include with every page -->
    <script src="../assets/jquery-1.10.2.js"></script>
    <script src="../assets/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../assets/metisMenu/metisMenu.min.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="../assets/sb-admin-2.js"></script>



    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <!--
    <script src="../assets/demo/dashboard-demo.js"></script>
    <script src="../assets/raphael-2.1.0.min.js"></script>
    <script src="../assets/morris.js"></script>
    <script src="../assets/bootstrap-hover-dropdown.js"></script>
    -->



    <script type="text/javascript">
                  function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
            }
   </script>

   <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57357416-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>